<div class="col-md-12">
			<h3 style="color:#580000;">2.4.1 Teachers against Sanctioned Posts</h3>
			<hr style="border-bottom: 1px solid #580000;">
			
			
<!--link rel="stylesheet" type="text/css" href="table.css"-->
<ul>
 <li><b><a href="/SSR_Report/HTML/QNM\Criterion2\KIM_2.4.1_QNM_Summary_of_Full_Time_Teachers.pdf" style="text-decoration:none;" target="_b">Consolidate faculty Data-Summary</a></b></li><b>
 <li><a href="/SSR_Report/HTML/QNM\Criterion2\KIM_2.4.1_QNM_Sanction_Post_Mgmt_Letter.pdf" style="text-decoration:none;" target="_c">Position Scantion Letter (Aided &amp; Management)</a></li>
 <li><a href="/SSR_Report/home.jsp?p=241A#24" style="text-decoration:none;">Appointment Orders</a></li>
 <li><a href="/SSR_Report/home.jsp?p=241B#24" style="text-decoration:none;">Faculty List authenticated by Institute Head</a></li></b>

</ul>
<br>				
			</div>