<div class="col-md-12">
			<h3 style="color:#580000;">4.3.3 Internet Bandwidth</h3>
			<hr style="border-bottom: 1px solid #580000;">
<ul><b>
<li><a href="\SSR_Report\HTML\QNM\Criterion4\KIM_4.3.3_QNM_Leased_line_certificate.pdf" style="text-decoration:none;" target="_b">Leased line Certificate</a></li></b><a href="\SSR_Report\HTML\QNM\Criterion4\KIM_4.3.3_QNM_Leased_line_certificate.pdf" style="text-decoration:none;" target="_b">
</a></ul><a href="\SSR_Report\HTML\QNM\Criterion4\KIM_4.3.3_QNM_Leased_line_certificate.pdf" style="text-decoration:none;" target="_b"> 
				
			</a></div>