<div class="col-md-12">
			<h3 style="color:#580000;">4.3.2 Student Computer Ratio</h3>
			<hr style="border-bottom: 1px solid #580000;">
<ul class="c">

 <li><b><a href="/SSR_Report/HTML/QNM/Criterion4\KIM_4.3.2_QNM_Computer_Invoice.pdf" style="text-decoration:none;" target="_b">Invoice/Vouchers for Purchase of Computers</a></b></li>
 <br><br>

<li><b><a href="/SSR_Report/HTML/QNM/Criterion4\KIM_4.3.2_Stock_Register.pdf" style="text-decoration:none;" target="_c">Stock Register</a></b></li><table align="center">

<tbody><tr>

 
</tr></tbody></table><br><br>

<table align="center">

<tbody><tr>
</tr></tbody></table>
</ul>
<ul>
 <!--<li><b><a href="/SSR_Report/HTML/QNM/Criterion4\KIM_4.3.2_Stock_Register_MBA.pdf"style="text-decoration:none;"target="_b">Stock Register -MBA</b></li> <br>-->
 </ul>

<br>
<br> 
				
			</div>