<div class="col-md-12">
			<h3 style="color:#580000;">4.2.4 Purchase of Books and Journals</h3>
			<hr style="border-bottom: 1px solid #580000;">

<ul><b>
<li><a href="\SSR_Report\HTML\QNM\Criterion4\KIM_4.2.4_Books_Audit.pdf" style="text-decoration:none;" target="_b">Audited Statement</a></li></b><a href="\SSR_Report\HTML\QNM\Criterion4\KIM_4.2.4_Books_Audit.pdf" style="text-decoration:none;" target="_b">	
</a></ul><a href="\SSR_Report\HTML\QNM\Criterion4\KIM_4.2.4_Books_Audit.pdf" style="text-decoration:none;" target="_b">
 
				
			</a></div>