<div class="col-md-12">
			<h3 style="color:#580000;">2.6.3 Report from CoE about Pass Percentage</h3>
			<hr style="border-bottom: 1px solid #580000;">
			
			
					






<style>
a{
text-decoration:none;
}
.button {
  padding: 4px 5px;
  font-size:20px;
  align:center;
  cursor: pointer;
  outline: none;
  background-color:RGB(230, 230, 250);
  border: none;
  border-radius:12px;
  box-shadow: 2px 5px #999;
}
.button:hover {background-color:rgb(204, 255, 255)}
.button:active {
  background-color:rgb(16, 136, 242  );
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}
</style>


<title>251</title>
<!--link rel="stylesheet" type="text/css" href="table.css"-->	


<!--
<li><b>Annual Report</b></li>
</ul>
<table align="center">
<!--<td><button class="button"><a href="/SSR_Report/HTML/QNM/2018-2019/A_Overall/KIM_2.5.1_QNM_Semester_Time_Table_2018_19.pdf" style="text-decoration:none;"target="_b">2018-19</button>&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2017-18/KIM_2.5.1_QNM_2017-18_CoE_Annual_Report.pdf"style="text-decoration:none; " target="_b">2017-18</button>&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2016-17/KIM_2.5.1_QNM_2016-17_CoE_Annual_Report.pdf"style="text-decoration:none;"target="_b">2016-17</button>&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2015-16/KIM_2.5.1_QNM_2015-16_CoE_Annual_Report.pdf" style="text-decoration:none;"target="_b">2015-16</button>&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2014-15/KIM_2.5.1_QNM_2014-15_CoE_Annual_Report.pdf" style="text-decoration:none;"target="_b">2014-15</button>&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2013-14/KIM_2.5.1_QNM_2013-14_CoE_Annual_Report.pdf" style="text-decoration:none;"target="_b">2013-14</button></a></td>
</table>-->
<ul>
<br>
<br>
<li><b>Report from CoE about Pass Percentage</b></li>
</ul>
<table align="center">
<!--<td><button class="button"><a href="/SSR_Report/HTML/QNM/2018-2019/A_Overall/KIM_2.5.1_QNM_Semester_Time_Table_2018_19.pdf" style="text-decoration:none;"target="_b">2018-19</button>&nbsp;&nbsp;&nbsp;&nbsp;</a></td>-->
<tbody><tr><td><button class="button"><a href="/SSR_Report/HTML/QNM/2017-18/KIM_2.6.3_QNM_2017-18_Pass_Percent_Extract	.pdf" style="text-decoration:none; " target="_b">2017-18</a></button><a href="/SSR_Report/HTML/QNM/2017-18/KIM_2.6.3_QNM_2017-18_Pass_Percent_Extract	.pdf" style="text-decoration:none; " target="_b">&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2016-17/KIM_2.6.3_QNM_2016-17_Pass_Percent_Extract.pdf" style="text-decoration:none;" target="_c">2016-17</a></button><a href="/SSR_Report/HTML/QNM/2016-17/KIM_2.6.3_QNM_2016-17_Pass_Percent_Extract.pdf" style="text-decoration:none;" target="_c">&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2015-16/KIM_2.6.3_QNM_2015-16_Pass_Percent_Extract.pdf" style="text-decoration:none;" target="_d">2015-16</a></button><a href="/SSR_Report/HTML/QNM/2015-16/KIM_2.6.3_QNM_2015-16_Pass_Percent_Extract.pdf" style="text-decoration:none;" target="_d">&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2014-15/KIM_2.6.3_QNM_2014-15_Pass_Percent_Extract.pdf" style="text-decoration:none;" target="_e">2014-15</a></button><a href="/SSR_Report/HTML/QNM/2014-15/KIM_2.6.3_QNM_2014-15_Pass_Percent_Extract.pdf" style="text-decoration:none;" target="_e">&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2013-14/KIM_2.6.3_QNM_2013-14_Pass_Percent_Extract.pdf" style="text-decoration:none;" target="_f">2013-14</a></button></td>
</tr></tbody></table>
 
				
			</div>