<div class="col-md-12">
			<h3 style="color:#580000;">2.3.3 Mentor:Mentee</h3>
			<hr style="border-bottom: 1px solid #580000;">
			
<b>
<ul>
<li><a href="/SSR_Report/HTML/QNM\Criterion2\KIM_2.3.3_QNM_Mentor_Mentee_Meeting_Communications.pdf" style="text-decoration:none" target="_b">Circulars </a></li>
<li><a href="/SSR_Report/HTML/QNM\Criterion2\KIM_2.3.3_QNM_Mentor_Mentee_Allotment_List.pdf" style="text-decoration:none" target="_c">Approved Mentor List</a></li>
<li><a href="/SSR_Report/HTML/QNM\Criterion2\KIM_2.3.3_QNM_Mentor_Mentee_for_2017-18.pdf" style="text-decoration:none" target="_d">Allotment Order of Mentor to Mentee (2017-18)</a></li>
</ul>


 
				
			</b></div>