<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          1.3.4 Field Projects / Internships
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
      <!--Start-->

	<div class="col-md-12">
	<h3 style="color:#580000;">1.3.4 Field Projects / Internships</h3>
	<hr style="border-bottom: 1px solid #580000;">
		
<b>
<ul>
<li>Internships</li>
<ul class="b">
<li><a href="/SSR_Report/HTML/QNM\Internship\KIM_1.3.4_QNM_Internship_Students_List.xlsx" style="text-decoration:none" target="_b">Student List of Internship by the Departments</a></li>
<li><a href="/SSR_Report/home.jsp?p=134A#13" style="text-decoration:none">Internship Certificates from the Organizations</a></li>
</ul>
</ul>
<ul>
<li>Field Projects</li>
<ul class="b">
<li><a href="/SSR_Report/HTML/QNM\Criterion1\KIM_1.3.4_QNM_Field_Project_Completed_Students_List_from_Coe.pdf" style="text-decoration:none" target="_c">Completed  Student List on Field Project by the CoE</a></li>
<li><a href="/SSR_Report/HTML/QNM\Criterion1\KIM_1.3.4_QNM_Field_Project_Visit_Plan_from_SHEPHERD.pdf" style="text-decoration:none" target="_d">Visit Plan Through Outreach Department on Field Project</a></li>
<li><a href="/SSR_Report/HTML/QNM\Criterion1\KIM_1.3.4_QNM_Field_Project_Record Note.pdf" style="text-decoration:none" target="_e">Record Note on Field Project</a></li>
<li><a href="/SSR_Report/HTML/QNM\Criterion1\KIM_1.3.4_QNM_Field_Project_Valuation, Feed Back.pdf" style="text-decoration:none" target="_f">Valuation and Feed Back on Field Project</a></li>
<li><a href="/SSR_Report/HTML/QNM\Criterion1\KIM_1.3.4_QNM_Field_Project_Photos.pdf" style="text-decoration:none" target="_g"> Field Project Photos</a></li>
</ul>
</ul>

<ul>
<li> PG Projects</li>
<ul class="b">
<li><a href="/SSR_Report/HTML/QNM\Criterion1\KIM_1.3.4_QNM_Dept_PG_Projects.xlsx" style="text-decoration:none" target="_h">Student List of Internship by the Departments</a></li>
</ul>
</ul>
 </b></div>

	  <!--End-->

	  </div>
    </div>
  </div>
 
</div>