<div class="col-md-12">
			<h3 style="color:#580000;">2.4.5 Staff Diversity</h3>
			<hr style="border-bottom: 1px solid #580000;">

<ul><b>
<li><a href="/SSR_Report/HTML/QNM\Criterion2\KIM_2.4.5_QNM_Teachers_From_Other_States.pdf" style="text-decoration:none" target="_b">Teachers From Other States</a></li><a href="/SSR_Report/HTML/QNM\Criterion2\KIM_2.4.5_QNM_Teachers_From_Other_States.pdf" style="text-decoration:none" target="_b">
</a></b></ul><b><a href="/SSR_Report/HTML/QNM\Criterion2\KIM_2.4.5_QNM_Teachers_From_Other_States.pdf" style="text-decoration:none" target="_b">
 
				
			</a></b></div>