<nav class="navbar navbar-expand-lg navbar-light bg-accordion">
    <!-- Just an image -->

  <a class="navbar-brand" href="#">
    <img src="../assets/img/logo.png" width="130" height="30" alt="">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="home.aspx">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">About</a>
      </li>
    </ul>
    
  </div>
</nav>
 <div class="container-fluid">
    <div class="row">
    <img class="img-fluid" src="../assets/img/wallmain.jpg"  width="1520" height="80" />
    </div>
    </div>


<style>

        body {
    background: white;
    font-size: 16px;
    font-family: "PT Serif", Georgia, serif;
    font-weight: normal;
    font-style: normal;
    line-height: 28px;
    color: #777777;
    -webkit-font-smoothing: antialiased;
    /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}






.pdf {
    height: -webkit-fill-available;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background-color: #34495e !important;
    border-color: #34495e !important;
}

#right_menu {
    margin-right: 20px !important;
    margin: 10px;
    color: #00a8d6;
}

.usercard {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 8px;
    background: #34495e;
    color: white;
    box-sizing: border-box;
}

.usercard .header {


        padding: 5px;
        border-bottom: solid 1px white;
        font-size: 20px;
        font-weight: bold;
}

td b {
    font-size: 20px;
    color: white;
}

.navbar {
    background: #34495e !important;
    
}
.nav-item a {
    color: white !important;
}
.navbar a img{
    width:380px !important;
    height:70px !important;
}

/*NEW User CSS*/

.main{
    margin-top:10px;
}
.facalitycard {
    background: #34495e !important;
    color: white !important;
    font-family: muli;
}
.card img {
        padding: 10px;
}
.collapse a {
    font: 400 18px/26px Muli;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 20px;
    line-height: 26px;
    font-family: Muli;
}
.page-footer {
    margin-top:10px;
    background: #34495e !important;
    color: white !important;
    font-family: muli;
}
.page-footer a{
    color:white !important;
}
.dropdown-menu{
    background: #34495e !important;
}
.dropdown-item:hover {
    background-color: #34495e !important;
}

      </style>