<div class="col-md-12">
			<h3 style="color:#580000;">4.2.3 Institution Library Facilities</h3>
			<hr style="border-bottom: 1px solid #580000;">

<ul class="c"><b>
<li><a href="/SSR_Report/HTML/QNM\Criterion4\KIM_4.2.5_QNM_Annual_Subscription.pdf" style="text-decoration:none;" target="_b">Annual Subscriptions (e-Journals,e-books)</a></li>
<li><a href="/SSR_Report/HTML/QNM\Criterion4\KIM_4.2.5_QNM_Shodsindhu_Membership.pdf" style="text-decoration:none;" target="_c">E-Shodsindhu Membership</a></li>
<li><a href="/SSR_Report/HTML/QNM\Criterion4\KIM_4.2.5_QNM_Shodganga.pdf" style="text-decoration:none;" target="_d">Shodhganga Membership</a></li>
<!--<li><a href="/SSR_Report/HTML/QNM\Criterion4\KIM_4.2.5_QNM_Remote_Snapshot.pdf"style="text-decoration:none;"target="_b">Snap Shot of Remote Databases</li></a>-->
<li><a href="/SSR_Report/HTML/QNM\Criterion4\KIM_4.2.5_QNM_Usage_Report_from_provider.pdf" style="text-decoration:none;" target="_e">Usage Report from the Provider</a></li></b>
</ul> 
				
			</div>