<div class="col-md-12">
			<h3 style="color:#580000;">5.2.2 Progression to Higher Education</h3>
			<hr style="border-bottom: 1px solid #580000;">

<b>
<ul>
<li><a href="/SSR_Report/HTML/QNM\Criterion5\KIM_5.2.2_QNM_Student_Progression_From_CoE.pdf" target="_b" style="text-decoration:none;">Student List from CoE</a></li>
<li><a href="/SSR_Report/HTML/QNM\Criterion5\KIM_5.2.2_QNM_Student_Progression_Details.xlsx" target="_c" style="text-decoration:none;">Student List from MBA Twinning Programme</a></li>
<li><a href="/SSR_Report/HTML/QNM\Criterion5\KIM_5.2.2_QNM_Other_College_ID.pdf" target="_d" style="text-decoration:none;">Sample ID Cards</a></li>
</ul>
 
				
			</b></div>