<div class="col-md-12">
			<h3 style="color:#580000;">2.5.3 Marks Changes after Revaluation</h3>
			<hr style="border-bottom: 1px solid #580000;">
			
			
					






<style>

</style>


<title>251</title>
<!--link rel="stylesheet" type="text/css" href="table.css"-->


<ul>
<br>
<li><b>Annual Report</b></li>
</ul>
<table align="center">
<!--<td><button class="button"><a href="/SSR_Report/HTML/QNM/2018-2019/A_Overall/KIM_2.5.1_QNM_Semester_Time_Table_2018_19.pdf" style="text-decoration:none;"target="_b">2018-19</button>&nbsp;&nbsp;&nbsp;&nbsp;</a></td>-->
<tbody><tr><td><button class="button"><a href="/SSR_Report/HTML/QNM/2017-18/KIM_2.5.1_QNM_2017-18_CoE_Annual_Report.pdf" style="text-decoration:none; " target="_b">2017-18</a></button><a href="/SSR_Report/HTML/QNM/2017-18/KIM_2.5.1_QNM_2017-18_CoE_Annual_Report.pdf" style="text-decoration:none; " target="_b">&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2016-17/KIM_2.5.1_QNM_2016-17_CoE_Annual_Report.pdf" style="text-decoration:none;" target="_c">2016-17</a></button><a href="/SSR_Report/HTML/QNM/2016-17/KIM_2.5.1_QNM_2016-17_CoE_Annual_Report.pdf" style="text-decoration:none;" target="_c">&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2015-16/KIM_2.5.1_QNM_2015-16_CoE_Annual_Report.pdf" style="text-decoration:none;" target="_d">2015-16</a></button><a href="/SSR_Report/HTML/QNM/2015-16/KIM_2.5.1_QNM_2015-16_CoE_Annual_Report.pdf" style="text-decoration:none;" target="_d">&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2014-15/KIM_2.5.1_QNM_2014-15_CoE_Annual_Report.pdf" style="text-decoration:none;" target="_e">2014-15</a></button><a href="/SSR_Report/HTML/QNM/2014-15/KIM_2.5.1_QNM_2014-15_CoE_Annual_Report.pdf" style="text-decoration:none;" target="_e">&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2013-14/KIM_2.5.1_QNM_2013-14_CoE_Annual_Report.pdf" style="text-decoration:none;" target="_f">2013-14</a></button></td>
</tr></tbody></table>

<br>
<ul>
<br>
<li><b>Report from CoE </b></li>
</ul>
<table align="center">
<!--<td><button class="button"><a href="/SSR_Report/HTML/QNM/2018-2019/A_Overall/KIM_2.5.1_QNM_Semester_Time_Table_2018_19.pdf" style="text-decoration:none;"target="_b">2018-19</button>&nbsp;&nbsp;&nbsp;&nbsp;</a></td>-->
<tbody><tr><td><button class="button"><a href="/SSR_Report/HTML/QNM/2017-18/KIM_2.5.3_QNM_2017-18_Marks_Changed_Extract.pdf" style="text-decoration:none; " target="_g">2017-18</a></button><a href="/SSR_Report/HTML/QNM/2017-18/KIM_2.5.3_QNM_2017-18_Marks_Changed_Extract.pdf" style="text-decoration:none; " target="_g">&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2016-17/KIM_2.5.3_QNM_2016-17_Marks_Changed_Extract.pdf" style="text-decoration:none;" target="_h">2016-17</a></button><a href="/SSR_Report/HTML/QNM/2016-17/KIM_2.5.3_QNM_2016-17_Marks_Changed_Extract.pdf" style="text-decoration:none;" target="_h">&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2015-16/KIM_2.5.3_QNM_2015-16_Marks_Changed_Extract.pdf" style="text-decoration:none;" target="_i">2015-16</a></button><a href="/SSR_Report/HTML/QNM/2015-16/KIM_2.5.3_QNM_2015-16_Marks_Changed_Extract.pdf" style="text-decoration:none;" target="_i">&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2014-15/KIM_2.5.3_QNM_2014-15_Marks_Changed_Extract.pdf" style="text-decoration:none;" target="_j">2014-15</a></button><a href="/SSR_Report/HTML/QNM/2014-15/KIM_2.5.3_QNM_2014-15_Marks_Changed_Extract.pdf" style="text-decoration:none;" target="_j">&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2013-14/KIM_2.5.3_QNM_2013-14_Marks_Changed_Extract.pdf" style="text-decoration:none;" target="_k">2013-14</a></button></td>
</tr></tbody></table>
<br><b>
<ul>
<li><a href="/SSR_Report/HTML/QNM/Criterion2/KIM_2.5.3_QNM_Mark_Changed_After_Revaluation.pdf" style="text-decoration:none;" target="_l">Marks changed after Revaluation Consolidation Report
</a></li><a href="/SSR_Report/HTML/QNM/Criterion2/KIM_2.5.3_QNM_Mark_Changed_After_Revaluation.pdf" style="text-decoration:none;" target="_l">

 
				
			</a></ul></b></div>