<div class="col-md-12">
			<h3 style="color:#580000;">5.1.2 Non Govt. Scholarship</h3>
			<hr style="border-bottom: 1px solid #580000;">

<ul class="c">
<b>
<li><a href="/SSR_Report/HTML/QNM\Criterion5\KIM_5.1.2_QNM_Scholarship_From_Management.pdf" target="_b" style="text-decoration:none;">Scholarship From Management</a></li>
<li><a href="/SSR_Report/home.jsp?p=512A#51" style="text-decoration:none" >Student list-From Management</a></li><a href="/SSR_Report/home.jsp?p=512A#51" style="text-decoration:none" >
</a></b></ul><b><a href="/SSR_Report/home.jsp?p=512A#51" style="text-decoration:none" >
 
				
			</a></b></div>