<div class="col-md-12">
			<h3 style="color:#580000;">3.1.2 Seed Money</h3>
			<hr style="border-bottom: 1px solid #580000;">
<title>312</title>
<!--link rel="stylesheet" type="text/css" href="table.css"-->


<ul class="c">
<li><b><a href="/SSR_Report/HTML/QNM/Criterion3\KIM_3.1.2_QNM_Seed_Money.pdf" style="text-decoration:none;" target="_b"> Seed Money Declaration </a></b></li><b>
</b><li><b><a href="/SSR_Report/HTML/QNM/Criterion3\KIM_3.1.2_Seed_Money_Audit.pdf" style="text-decoration:none;" target="_c">  Audited Statement </a></b></li>
</ul>


 
				
			</div>