<div class="col-md-12">
			<h3 style="color:#580000;">6.4.2 Funds / Grants Received</h3>
			<hr style="border-bottom: 1px solid #580000;">

<ul>
<li><b><a href="/SSR_Report/HTML/QNM\Criterion6\KIM_6.4.2_Philan_Audit.pdf" target="_b&quot;" style="text-decoration:none">Audited Utilisation Statement</a></b></li><a href="/SSR_Report/HTML/QNM\Criterion6\KIM_6.4.2_Philan_Audit.pdf" target="_b&quot;" style="text-decoration:none">
</a></ul><a href="/SSR_Report/HTML/QNM\Criterion6\KIM_6.4.2_Philan_Audit.pdf" target="_b&quot;" style="text-decoration:none"> 
				
			</a></div>