<div class="col-md-12">
			<h3 style="color:#580000;">6.5.3 Quality Initiatives</h3>
			<hr style="border-bottom: 1px solid #580000;">

<br>
<ul>
<li><b><a href="http://sjctni.edu/IQAC/indexx.jsp?id=1&amp;bredcom=Home%20|%20IQAC" target="_b" style="text-decoration:none;">IQAC Link</a></b></li>
<li><b>Event Report</b></li>
</ul>
<br><table align="center">


<tbody><tr>
<td>
</td><td><button class="button"><a href="/SSR_Report/HTML/QNM\2017-18\KIM_6.5.3_QNM_2017-18_IQAC_Activities.pdf" target="_c" style="text-decoration:none;">2017-18</a></button><a href="/SSR_Report/HTML/QNM\2017-18\KIM_6.5.3_QNM_2017-18_IQAC_Activities.pdf" target="_c" style="text-decoration:none;"> &nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM\2016-17\KIM_6.5.3_QNM_2016-17_IQAC_Activities.pdf" target="_d" style="text-decoration:none;">2016-17</a></button><a href="/SSR_Report/HTML/QNM\2016-17\KIM_6.5.3_QNM_2016-17_IQAC_Activities.pdf" target="_d" style="text-decoration:none;">&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM\2015-16\KIM_6.5.3_QNM_2015-16_IQAC_Activities.pdf" target="_e" style="text-decoration:none;">2015-16</a></button><a href="/SSR_Report/HTML/QNM\2015-16\KIM_6.5.3_QNM_2015-16_IQAC_Activities.pdf" target="_e" style="text-decoration:none;">&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM\2014-15\KIM_6.5.3_QNM_2014-15_IQAC_Activities.pdf" target="_f" style="text-decoration:none;">2014-15</a></button><a href="/SSR_Report/HTML/QNM\2014-15\KIM_6.5.3_QNM_2014-15_IQAC_Activities.pdf" target="_f" style="text-decoration:none;">&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM\2013-14\KIM_6.5.3_QNM_2013-14_IQAC_Activities.pdf" target="_g" style="text-decoration:none;">2013-14</a></button><a href="/SSR_Report/HTML/QNM\2013-14\KIM_6.5.3_QNM_2013-14_IQAC_Activities.pdf" target="_g" style="text-decoration:none;">&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<!--<button class="button" ><a href="/SSR_Report/HTML/QNM\2012-13\KIM_6.5.3_QNM_2017-18_IQAC_Activities.pdf"target="_b" style="text-decoration:none;">2012-13</button>&nbsp;&nbsp;&nbsp;&nbsp;</a>-->
</tr>
</tbody></table> 
				
			</div>