<div class="col-md-12">
			<h3 style="color:#580000;">2.1.2 Demand Ratio</h3>
			<hr style="border-bottom: 1px solid #580000;">
			
			
					






<ul class="a"><b>
<li><a href="/SSR_Report/HTML/QNM\Criterion2\KIM_2.1.2_QNM_Sanctioned_Intake_University.pdf" style="text-decoration:none" target="_b">University Sanction Letter</a></li>
<li><a href="/SSR_Report/HTML/QNM\Criterion2\KIM_2.1.2_QNM_Extract_of_Applications.pdf" style="text-decoration:none" target="_c">Applications Extract</a></li>
<!---->
<li><a href="http://sjctni.edu/admission.jsp?p=prospectus&amp;bredcom=Home%20%7C%20Admission%20%7C%20Prospectus" style="text-decoration:none" target="_d">Online Admission Portal</a></li>
<!--<ul>
<li> Online Copy</li>
<li>Offline Copy</li>
</ul>-->


</b></ul><b>


 
				
			</b></div>