<div class="col-md-12">
			<h3 style="color:#580000;">4.3.4 E-Content Facilities</h3>
			<hr style="border-bottom: 1px solid #580000;">

<ul class="c"><b>
<li><a href="http://sjctni.edu/Department/hishome.jsp?deptCode=VT&amp;id=1&amp;bredcom=Home%20|%20Academics%20|%20Schools%20|%20%20|VISCOM%20TECHNOLOGY" target="_b" style="text-decoration:none;">Media Center Facilities</a></li>
<li><a href="/SSR_Report/HTML/QNM/Criterion4\KIM_4.3.4_QNM_Media_Center_Equipments.pdf" style="text-decoration:none;" target="_c">Media Center Equipment</a></li>
<li><a href="/SSR_Report/home.jsp?p=434A#43" style="text-decoration:none;">Photos</a></li><a href="/SSR_Report/home.jsp?p=434A#43" style="text-decoration:none;">
</a><li><a href="/SSR_Report/home.jsp?p=434A#43" style="text-decoration:none;"></a><a href="/SSR_Report/home.jsp?p=434B#43" style="text-decoration:none;">Videos</a></li><a href="/SSR_Report/home.jsp?p=434B#43" style="text-decoration:none;">
</a></b></ul><b><a href="/SSR_Report/home.jsp?p=434B#43" style="text-decoration:none;">


		 
				
			</a></b></div>