<div class="col-md-12">
			<h3 style="color:#580000;">2.2.3 Divyangjan Students</h3>
			<hr style="border-bottom: 1px solid #580000;">
<ul>
<b>
<li><a href="/SSR_Report/HTML/QNM\Criterion2\KIM_2.2.3_QNM_Disabled_Students_List.pdf" style="text-decoration:none" target="_b">Students List</a></li>
<li><a href="/SSR_Report/HTML/QNM\Criterion2\KIM_2.2.3_QNM_Differently_abled_students.pdf" style="text-decoration:none" target="_c">UDID Certificates</a></li>
<li><a href="/SSR_Report/HTML/QNM\Criterion2\KIM_2.2.3_QNM_Extract_To_Government.pdf" style="text-decoration:none" target="_d">Extract Submitted To Government</a></li>
</b></ul><b>

 
				
			</b></div>