<div class="col-md-12">
			<h3 style="color:#580000;">2.1.3 Reserved Category</h3>
			<hr style="border-bottom: 1px solid #580000;">
<b>
</b><ul><b>
<li><a href="/SSR_Report/HTML/QNM\Criterion2\KIM_2.1.3_QNM_TN_GO_Arts_Science.pdf" style="text-decoration:none" target="_b">State Government Letter for Reservation</a></li>
<li><a href="/SSR_Report/HTML/QNM\Criterion2\KIM_2.1.3_QNM_Selection_List_ERP.rar" style="text-decoration:none">Admission List Published by HEI</a></li>
<li><a href="/SSR_Report/HTML/QNM\Criterion2\KIM_2.1.3_QNM_Reservation_Policy.pdf" style="text-decoration:none" target="_c">Reservation Policy of the Institution</a></li>
<!--<li><a href="/SSR_Report/HTML/QNM\Criterion2\KIM_2.1.3_QNM_Reserved_Category_Students.xlsx"style="text-decoration:none"target="_b">Reserved Category Students List</a></li>-->
<li><a href="/SSR_Report/HTML/QNM\Criterion2\KIM_2.1.3_QNM_Prospectus_2016_17.pdf" style="text-decoration:none" target="_d">Prospectus</a></li>


<li><a href="/SSR_Report/home.jsp?p=213A#21" style="text-decoration:none">Extract submitted to State Government</a></li></b><a href="/SSR_Report/home.jsp?p=213A#21" style="text-decoration:none">
</a></ul><a href="/SSR_Report/home.jsp?p=213A#21" style="text-decoration:none">
 
				
			</a></div>