<div class="col-md-12">
			<h3 style="color:#580000;">5.2.3 Govt. Exams</h3>
			<hr style="border-bottom: 1px solid #580000;">

<h3><font style="Font-weight:bold;font-size:25pt;size:5em;color:#AA100A;font-style:oblique; font-family: myFirstFont;">Students Quailified in Competitive Exams </font></h3>
<br>
<table align="center">
<!--<td><button class="button"><a href="/SSR_Report/HTML/QNM/2018-2019\KIM_5.2.3_QNM_2018-19_Exams_Passed.pdf"target="_b" style="text-decoration:none;">2018-19</button></a><br><br>-->
<tbody><tr><td><button class="button"><a href="/SSR_Report/HTML/QNM/2017-18\KIM_5.2.3_QNM_2017-18_Exams_Passed.pdf" target="_b" style="text-decoration:none;">2017-18</a></button>&nbsp;&nbsp;&nbsp;</td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2016-17\KIM_5.2.3_QNM_2016-17_Exams_Passed.pdf" target="_c" style="text-decoration:none;">2016-17</a></button>&nbsp;&nbsp;&nbsp;</td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2015-16\KIM_5.2.3_QNM_2015-16_Exams_Passed.pdf" target="_d" style="text-decoration:none;">2015-16</a></button>&nbsp;&nbsp;&nbsp;</td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2014-15\KIM_5.2.3_QNM_2014-15_Exams_Passed.pdf" target="_e" style="text-decoration:none;">2014-15</a></button>&nbsp;&nbsp;&nbsp;</td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2013-14\KIM_5.2.3_QNM_2013-14_Exams_Passed.pdf" target="_f" style="text-decoration:none;">2013-14</a></button>&nbsp;&nbsp;&nbsp;</td>
<!--<td><button class="button"><a href="/SSR_Report/HTML/QNM/2012-2013\KIM_5.2.3_QNM_2012-13_Exams_Passed.pdf"target="_b" style="text-decoration:none;">2012-13</button></a></td>-->



 
				
			
        
     

    


<script>
// Add active class to the current button (highlight it)
/*var header = document.getElementById("myDIV");
var btns = header.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}*/
</script>
<!-- jquery ============================================ -->
<script src="js/jquery-1.12.4.min.js"></script>
<!-- bootstrap JS =========================================== -->
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-1.11.1.min.js"></script>
</tr></tbody></table></div>