<div class="col-md-12">
			<h3 style="color:#580000;">2.2.2 Student - Full time Teacher Ratio</h3>
			<hr style="border-bottom: 1px solid #580000;">

<ul><b>
<li><a href="/SSR_Report/HTML/QNM\Criterion2\KIM_2.2.2_QNM_Full_Time_Faculty_Current_Year.pdf" style="text-decoration:none" target="_b">Consolidated Full Time Teacher Details</a></li>
<li><a href="/SSR_Report/HTML/QNM\Criterion2\KIM_2.2.2_QNM_Student_Staff_Strength.pdf" style="text-decoration:none">Consolidated Students Details</a></li>
<!--<li><a href="/SSR_Report/HTML/QNM\General_Overall\Criterion2\KIM_2.2.2_QNM_Research_Guides - to delete.xlsx">Research Guides</a></li>-->
</b></ul><b>

 
				
			</b></div>