<div class="col-md-12">
			<h3 style="color:#580000;">2.5.5 Present Status of Automation</h3>
			<hr style="border-bottom: 1px solid #580000;">
<ul>
<li><b><a href="/SSR_Report/HTML/QNM\Criterion2\KIM_2.5.5_QNM_Examination_Automation_System_Manual.pdf" style="text-decoration:none;" target="_b">Examination Automation System Manual</a></b></li><b>
<!--<li><a href="/SSR_Report/home.jsp?p=255A#25"style="text-decoration:none">Annual Report</a></li>-->
<li><a href="/SSR_Report/home.jsp?p=255B#25" style="text-decoration:none">Extract of Examination Automation</a></li>
</b></ul><b>
</b></div>