<div class="col-md-12">
			<h3 style="color:#580000;">2.3.2 Teachers using ICT</h3>
			<hr style="border-bottom: 1px solid #580000;">
<ul><b>
 <li><a href="http:\\www.jim.ac.in\jim_replica_go\" target="_b" style="text-decoration:none"> Learning Management System (LMS) Web Link </a></li> 
 <li><a href="/SSR_Report/HTML/QNM\Criterion2\KIM_2.3.2_QNM_LMS_Facility.pdf" style="text-decoration:none" target="_c"> LMS-Snapshot</a></li>
  <li><a href="/SSR_Report/home.jsp?p=232A#23" style="text-decoration:none">Geo Tagged Photos of ICT Usage by Faculty</a></li>
   <li><a href="http:\\mail.sjctni.edu:8085\moodle\course\index.php" target="_d" style="text-decoration:none">Moodle Visibility (Intranet)</a></li>
 <li><a href="/SSR_Report/HTML/QNM\Criterion2\KIM_2.3.2_QNM_ICT_Faculty.xlsx" style="text-decoration:none" target="_e">List of Faculty using ICT facilities</a></li>
 <li><a href="/SSR_Report/home.jsp?p=232V#23" style="text-decoration:none"> E-Contents developed  by Faculty</a></li>
 <!--<li><a href="/SSR_Report/HTML/QNM\Criterion4\KIM_4.1.3_QNM_Classrooms_with_ICT_Detail.xlsx">ICT enabled Class rooms and Seminar Halls</li></a>-->
 <li><a href="/SSR_Report/HTML/QNM\Criterion2\KIM_2.3.2_QNM_NPTEL_Enrollment.pdf" style="text-decoration:none" target="_f">SWAYAM / NPTEL Enrolment</a></li>
 <li><a href="/SSR_Report/HTML/QNM\Criterion2\KIM_2.3.2_QNM_NPTEL_Certificates.pdf" style="text-decoration:none" target="_g">SWAYAM / NPTEL Certificates</a></li>
 </b></ul><b>

 
				
			</b></div>