<div class="col-md-12">
			<h3 style="color:#580000;">3.2.4 Research Projects per Teacher</h3>
			<hr style="border-bottom: 1px solid #580000;">

<b><ul class="c">
<li><a href="/SSR_Report/HTML/QNM/Criterion3\KIM_3.2.4_QNM_Individual_Projects.pdf" style="text-decoration:none" target="_b">Incentives Letter from Management</a></li>
<li><a href="/SSR_Report/HTML/QNM/Criterion3\KIM_3.2.4_QNM_Funding_Agency_Link.pdf" style="text-decoration:none" target="_c">Link to Funding Websites Agency</a></li><a href="/SSR_Report/HTML/QNM/Criterion3\KIM_3.2.4_QNM_Funding_Agency_Link.pdf" style="text-decoration:none" target="_c">
</a></ul><a href="/SSR_Report/HTML/QNM/Criterion3\KIM_3.2.4_QNM_Funding_Agency_Link.pdf" style="text-decoration:none" target="_c"> 
				
			</a></b></div>