<div class="col-md-12">
			<h3 style="color:#580000;">7.1.15 Human Values and Professional Ethics</h3>
			<hr style="border-bottom: 1px solid #580000;">

<ul><b>
<li><a href="/SSR_Report/HTML/QNM\Criterion7\KIM_7.1.15_QNM_Courses_on_Human_Values_and_Professional_Ethics.pdf" target="_b" style="text-decoration:none">List of Courses</a></li>
<li><a href=" http://sjctni.edu/Courses/course.jsp?id=2&amp;bredcom=Home%20|%20Academics%20|%20Course%20Pattern" target="_c" style="text-decoration:none">Link to College Website</a></li>
</b></ul><b>
</b></div>