<div class="col-md-12">
			<h3 style="color:#580000;">4.1.4 Infrastructure Augmentation</h3>
			<hr style="border-bottom: 1px solid #580000;">

<ul><b>
<li><a href="/SSR_Report/HTML/QNM\Criterion4\KIM_4.1.4_Infra_Augumentation_Audit.pdf" style="text-decoration:none;" target="_b">Audited Utilisation Statement</a></li><a href="/SSR_Report/HTML/QNM\Criterion4\KIM_4.1.4_Infra_Augumentation_Audit.pdf" style="text-decoration:none;" target="_b">
</a></b></ul><b><a href="/SSR_Report/HTML/QNM\Criterion4\KIM_4.1.4_Infra_Augumentation_Audit.pdf" style="text-decoration:none;" target="_b">
 
				
			</a></b></div>