<div class="col-md-12">
			<h3 style="color:#580000;">4.2.5 Remote Access</h3>
			<hr style="border-bottom: 1px solid #580000;">

<ul class="c"><b>
<li><a href="http://www.sjctni.edu/Library/Library/smiles/index.html" target="_blank" style="text-decoration:none;">SMILES (Systematic Mapping of Internet Learning E-Resources - Open Access Resources)</a></li>
<li><a href="http://search.proquest.com" target="_c" style="text-decoration:none;">Allied Publishers Subscription Agency, Chennai</a></li>
<li><a href="http://etcases.com/" target="_d" style="text-decoration:none;">Time Centre for Learning Pvt. Ltd.</a></li>
<li><a href="http://search.ebscohost.com/" target="_e" style="text-decoration:none;">EBSCO International Inc.</a></li>
<li><a href="/SSR_Report/home.jsp?p=425A#42" style="text-decoration:none;">Snapshot of Remote Databases</a></li>
</b></ul><b>
 
				
			</b></div>