<!--The content below is only a placeholder and can be replaced.-->
<div class="row" >
   <div class="col-sm-12 col-md-12 col-xs-12">  <app-topnav id="nactop"></app-topnav> </div>

      <div class="col-sm-3 col-md-3 col-xs-3">  <app-sidenav></app-sidenav>   </div>
      <div class="col-sm-9 col-md-9 col-xs-9" style="padding:20px;"><router-outlet></router-outlet> </div>

</div>


<!--div class="row" >
   <div class="col-sm-12 col-md-12 col-xs-12"> <app-maintop></app-maintop> </div>

      <div class="col-sm-3 col-md-3 col-xs-3 mainside" >  <app-mainside></app-mainside>   </div>
      <div class="col-sm-9 col-md-9 col-xs-9" style="padding:20px;">  <router-outlet></router-outlet> </div>

</div-->



<style>
.mainside{
  max-width: 100% !important;
}
        body {
    background: white;
    font-size: 16px;
    font-family: "PT Serif", Georgia, serif;
    font-weight: normal;
    font-style: normal;
    line-height: 28px;
    color: #777777;
    -webkit-font-smoothing: antialiased;
    /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}






.pdf {
    height: -webkit-fill-available;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background-color: #34495e !important;
    border-color: #34495e !important;
}

#right_menu {
    margin-right: 20px !important;
    margin: 10px;
    color: #00a8d6;
}

.usercard {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 8px;
    background: #34495e;
    color: white;
    box-sizing: border-box;
}

.usercard .header {


        padding: 5px;
        border-bottom: solid 1px white;
        font-size: 20px;
        font-weight: bold;
}

td b {
    font-size: 20px;
    color: white;
}

.navbar {
    background: #34495e !important;
    
}
.nav-item a {
    color: white !important;
}
.navbar a img{
    width:380px !important;
    height:70px !important;
}

/*NEW User CSS*/

.main{
    margin-top:10px;
}
.facalitycard {
    background: #34495e !important;
    color: white !important;
    font-family: muli;
}
.card img {
        padding: 10px;
}
.collapse a {
    font: 400 18px/26px Muli;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 20px;
    line-height: 26px;
    font-family: Muli;
}
.page-footer {
    margin-top:10px;
    background: #34495e !important;
    color: white !important;
    font-family: muli;
}
.page-footer a{
    color:white !important;
}
.dropdown-menu{
    background: #34495e !important;
}
.dropdown-item:hover {
    background-color: #34495e !important;
}

      </style>

