<div class="col-md-12">
			<h3 style="color:#580000;">3.3.2 IPR / Industry Academia Initiatives</h3>
			<hr style="border-bottom: 1px solid #580000;">

<ul><b>

<li><a href="/SSR_Report/HTML/QNM/IPR_Activities/KIM_3.3.2_IPR_Staff_Orientation.pdf" style="text-decoration:none" target="_b">Staff Orientation on IPR</a></li><a href="/SSR_Report/HTML/QNM/IPR_Activities/KIM_3.3.2_IPR_Staff_Orientation.pdf" style="text-decoration:none" target="_b">
</a><li><a href="/SSR_Report/HTML/QNM/IPR_Activities/KIM_3.3.2_IPR_Staff_Orientation.pdf" style="text-decoration:none" target="_b"></a><a href="/SSR_Report/HTML/QNM/IPR_Activities/KIM_3.3.2_IPR_Workshop.pdf" style="text-decoration:none" target="_c">IPR Workshop</a></li></b><a href="/SSR_Report/HTML/QNM/IPR_Activities/KIM_3.3.2_IPR_Workshop.pdf" style="text-decoration:none" target="_c">

 
				
			</a></ul></div>