<div class="col-md-12">
			<h3 style="color:#580000;">7.1.10 Locational Initiatives</h3>
			<hr style="border-bottom: 1px solid #580000;">
		
<ul><b>
<li>Event Report</li>
</b>
</ul>
<table align="center">
<tbody><tr>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2017-18/KIM_7.1.10_QNM_2017-18_Locational_Advantages.pdf" target="_b" style="text-decoration:none;">2017-18</a></button><a href="/SSR_Report/HTML/QNM/2017-18/KIM_7.1.10_QNM_2017-18_Locational_Advantages.pdf" target="_b" style="text-decoration:none;">&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2016-17/KIM_7.1.10_QNM_2016-17_Locational_Advantages.pdf" target="_c" style="text-decoration:none;">2016-17</a></button><a href="/SSR_Report/HTML/QNM/2016-17/KIM_7.1.10_QNM_2016-17_Locational_Advantages.pdf" target="_c" style="text-decoration:none;">&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2015-16/KIM_7.1.10_QNM_2015-16_Locational_Advantages.pdf" target="_d" style="text-decoration:none;">2015-16</a></button><a href="/SSR_Report/HTML/QNM/2015-16/KIM_7.1.10_QNM_2015-16_Locational_Advantages.pdf" target="_d" style="text-decoration:none;">&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2014-15/KIM_7.1.10_QNM_2014-15_Locational_Advantages.pdf" target="_e" style="text-decoration:none;">2014-15</a></button><a href="/SSR_Report/HTML/QNM/2014-15/KIM_7.1.10_QNM_2014-15_Locational_Advantages.pdf" target="_e" style="text-decoration:none;">&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2013-14/KIM_7.1.10_QNM_2013-14_Locational_Advantages.pdf" target="_f" style="text-decoration:none;">2013-14</a></button><a href="/SSR_Report/HTML/QNM/2013-14/KIM_7.1.10_QNM_2013-14_Locational_Advantages.pdf" target="_f" style="text-decoration:none;">&nbsp;&nbsp;&nbsp;</a></td>
<!--<td><button class="button"><a href="/SSR_Report/HTML/QNM/2012-2013/VPFinance\KIM_6.4.2_QNM_2012-13_Budget_Allocation_for_Infrastructure.xlsx" style="text-decoration:none"target="_b">2012-13</button>&nbsp;&nbsp;&nbsp;</a></td>-->
</tr><tr>
</tr></tbody></table>
 
				
			</div>