<div class="col-md-12">
			<h3 style="color:#580000;">5.3.3 Sports &amp; Cultural Activities</h3>
			<hr style="border-bottom: 1px solid #580000;">
		
<title>533</title>


<ul>
<li><b><a href="/SSR_Report/HTML/QNM\Criterion5\KIM_5.3.3_QNM_Sports_Activities_All_Years.pdf" style="text-decoration:none;" target="_b">Sports</a></b></li>
<br> 
<li><b><a href="/SSR_Report/HTML/QNM\Criterion5\KIM_5.3.3_QNM_Cultural_Activities_All_Years.pdf" style="text-decoration:none;" target="_c">Culturals</a></b></li>
</ul>
<table align="center">
<tbody><tr>
<!--<td><button class="button"><a href="/SSR_Report/HTML/QNM/2018-2019/KIM_5.3.3_QNM_2018-19_Cultural Activities.pdf" style="text-decoration:none;"target="_b">2018-19</button>&nbsp;&nbsp;&nbsp;</a></td>-->
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2017-18/KIM_5.3.3_QNM_2017-18_Cultural Activities.pdf" style="text-decoration:none;" target="_d">2017-18</a></button><a href="/SSR_Report/HTML/QNM/2017-18/KIM_5.3.3_QNM_2017-18_Cultural Activities.pdf" style="text-decoration:none;" target="_d">&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2016-17/KIM_5.3.3_QNM_2016-17_Cultural Activities.pdf" style="text-decoration:none;" target="_e">2016-17</a></button><a href="/SSR_Report/HTML/QNM/2016-17/KIM_5.3.3_QNM_2016-17_Cultural Activities.pdf" style="text-decoration:none;" target="_e">&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2015-16/KIM_5.3.3_QNM_2015-16_Cultural Activities.pdf" style="text-decoration:none;" target="_f">2015-16</a></button><a href="/SSR_Report/HTML/QNM/2015-16/KIM_5.3.3_QNM_2015-16_Cultural Activities.pdf" style="text-decoration:none;" target="_f">&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2014-15/KIM_5.3.3_QNM_2014-15_Cultural Activities.pdf" style="text-decoration:none;" target="_g">2014-15</a></button><a href="/SSR_Report/HTML/QNM/2014-15/KIM_5.3.3_QNM_2014-15_Cultural Activities.pdf" style="text-decoration:none;" target="_g">&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2013-14/KIM_5.3.3_QNM_2013-14_Cultural Activities.pdf" style="text-decoration:none;" target="_h">2013-14</a></button><a href="/SSR_Report/HTML/QNM/2013-14/KIM_5.3.3_QNM_2013-14_Cultural Activities.pdf" style="text-decoration:none;" target="_h">&nbsp;&nbsp;&nbsp;</a></td>
<!--<td><button class="button"><a href="/SSR_Report/HTML/QNM/2012-2013/KIM_5.3.3_QNM_2012-13_Cultural Activities.pdf" style="text-decoration:none;"target="_b">2012-13</button>&nbsp;&nbsp;&nbsp;</a></td>-->
</tr>
</tbody></table>


 
				
			</div>