<div class="col-md-12">
			<h3 style="color:#580000;">4.1.3 ICT Infrastructure</h3>
			<hr style="border-bottom: 1px solid #580000;">

<ul><b>
<li><a href="/SSR_Report/HTML/QNM\Criterion4\KIM_4.1.3_QNM_ICT_Facilities_Addl.xlsx" style="text-decoration:none;">Classrooms with ICT Detail</a></li>
<li><a href="/SSR_Report/home.jsp?p=413A#41" style="text-decoration:none;">Photos - Classrooms</a></li>
<li><a href="/SSR_Report/home.jsp?p=413B#41" style="text-decoration:none;">Photos - Halls</a></li>
<li><a href="/SSR_Report/home.jsp?p=413C#41" style="text-decoration:none;">Videos</a></li>
</b></ul><b> 
				
			</b></div>