<div class="col-md-12">
			<h3 style="color:#580000;">3.2.3 Research Guides</h3>
			<hr style="border-bottom: 1px solid #580000;">
			
			
					






  <h4>School of Biological Sciences</h4>  
<table id="alpha" border="1px" cellpadding="2px" align="center" style="width:55%">
<tbody><tr><th rowspan="2" style="color:black">Department</th>
<th colspan="2" align="center" style="background-color:#AFCED5;color:black"> Certificates</th>
</tr><tr>
<td align="center" colspan="1" style="background-color:#AFCED5;color:black"> <b>Ph.D </b></td>
<td align="center" colspan="1" style="background-color:#AFCED5;color:black"> <b>Guideship</b></td>
</tr>
<tr class="e">
<td>BIOCHEMISTRY </td>
<td align="center"><a href="/SSR_Report/HTML/QNM\PhD_Certificates\BI_QNM_2.4.4_PhD_Certificates.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Guideship\PhD\BI_QNM_3.2.3_PhD_Guideship_Recognition.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
</tr>
<tr class="e">
<td>BIOTECHNOLOGY</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\PhD_Certificates\BT_QNM_2.4.4_PhD_Certificates.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Guideship\PhD\BT_QNM_3.2.3_Phd_Guideship_Recognition.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
</tr>
<tr class="e">
<td>BOTANY</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\PhD_Certificates\BO_QNM_2.4.4_PhD_Certificates.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Guideship\PhD\BO_QNM_3.2.3_PhD_Guideship_Recognition.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
</tr>
</tbody></table>
<h4>
   School of Computing Sciences  
</h4>
<table id="alpha" border="1px" cellpadding="2px" align="center" style="width:55%">	
<tbody><tr><th rowspan="2" style="color:black">Department</th>
<th colspan="2" align="center" style="background-color:#AFCED5;color:black"> Certificates</th>
</tr><tr>
<td align="center" colspan="1" style="background-color:#AFCED5;color:black"> <b>Ph.D </b></td>
<td align="center" colspan="1" style="background-color:#AFCED5;color:black"> <b>Guideship</b></td>
</tr>
<tr class="e">
<td>COMPUTER SCIENCE </td>
<td align="center"><a href="/SSR_Report/HTML/QNM\PhD_Certificates\CS_QNM_2.4.4_PhD_Certificates.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Guideship\PhD\CS_QNM_3.2.3_PhD_Guideship_Recognition.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
</tr>
<tr class="e">
<td>INFORMATION <br> TECHNOLOGY</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\PhD_Certificates\IT_QNM_2.4.4_PhD_Certificates.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
<td align="center"><!--<td align="center"><a href="/SSR_Report/HTML/QNM\Guideship\PhD\IT_QNM_3.2.3_PhD_Guideship_Recognition.pdf"target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></td>-->-</td>
</tr>
<tr class="e">
<td>MATHEMATICS</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\PhD_Certificates\MA_QNM_2.4.4_PhD_Certificates.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Guideship\PhD\MA_QNM_3.2.3_PhD_Guideship_Recognition.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
</tr>
<tr class="e">
<td>STATISTICS</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\PhD_Certificates\ST_QNM_2.4.4_PhD_Certificates.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Guideship\PhD\ST_QNM_3.2.3_PhD_Guideship_Recognition.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
</tr>
</tbody></table>

<h4>
   School of Languages and Culture  
</h4>
<table id="alpha" border="1px" cellpadding="2px" align="center" style="width:55%">
<tbody><tr><th rowspan="2" style="color:black">Department</th>
<th colspan="2" align="center" style="background-color:#AFCED5;color:black"> Certificates</th>
</tr><tr>
<td align="center" colspan="1" style="background-color:#AFCED5;color:black"> <b>Ph.D </b></td>
<td align="center" colspan="1" style="background-color:#AFCED5;color:black"> <b>Guideship</b></td>
</tr>
<tr class="e">
<td>ENGLISH </td>
<td align="center"><a href="/SSR_Report/HTML/QNM\PhD_Certificates\EN_QNM_2.4.4_PhD_Certificates.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Guideship\PhD\EN_QNM_3.2.3_PhD_Guideship_Recognition.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
</tr>
<tr class="e">
<td>HISTORY</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\PhD_Certificates\HS_QNM_2.4.4_PhD_Certificates.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Guideship\PhD\HS_QNM_3.2.3_PhD_Guideship_Recognition.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
</tr>
<tr class="e">
<td>TAMIL</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\PhD_Certificates\TA_QNM_2.4.4_PhD_Certificates.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Guideship\PhD\TA_QNM_3.2.2_PhD_Guideship_Recognition.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
</tr>
</tbody></table>
<h4>
   School of Management Studies  
</h4>
<table id="alpha" border="1px" cellpadding="2px" align="center" style="width:55%">
<tbody><tr><th rowspan="2" style="color:black">Department</th>
<th colspan="2" align="center" style="background-color:#AFCED5;color:black"> Certificates</th>
</tr><tr>
<td align="center" colspan="1" style="background-color:#AFCED5;color:black"> <b>Ph.D </b></td>
<td align="center" colspan="1" style="background-color:#AFCED5;color:black"> <b>Guideship</b></td>
</tr>
<tr class="e">
<td>BUSINESS ADMINISTRATION </td>
<td align="center"><a href="/SSR_Report/HTML/QNM\PhD_Certificates\BU_QNM_2.4.4_PhD_Certificates.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
<td align="center"><!--<a href="/SSR_Report/HTML/QNM\Guideship\PhD\BU_QNM_3.2.3_PhD_Guideship_Recognition.pdf"target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center">-->-</td>
</tr>
<tr class="e">
<td>COMMERCE</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\PhD_Certificates\CO_QNM_2.4.4_PhD_Certificates.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Guideship\PhD\CO_QNM_3.2.3_PhD_Guideship_Recognition.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
</tr>
<tr class="e">
<td>COMMERCE COMPUTER APPLICATION</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\PhD_Certificates\CC_QNM_2.4.4_PhD_Certificates.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
<td align="center"><!--<a href="/SSR_Report/HTML/QNM\Guideship\PhD\CC_QNM_3.2.3_PhD_Guideship_Recognition.pdf"target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center">-->-</td>
</tr>
<tr class="e">
<td>ECONOMICS</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\PhD_Certificates\EC_QNM_2.4.4_PhD_Certificates.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Guideship\PhD\EC_QNM_3.2.2_PhD_Guideship_Recognition.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
</tr>
<tr class="e">
<td>HUMAN RESOURCE MANAGEMENT</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\PhD_Certificates\HR_QNM_2.4.4_PhD_Certificates.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Guideship\PhD\HR_QNM_3.2.3_PhD_Guideship_Recognition.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
</tr>
<tr class="e">
<td>MBA</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\PhD_Certificates\MU_QNM_2.4.4_PhD_Certificates.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Guideship\PhD\MU_QNM_3.2.3_PhD_Guideship_Recognition.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
</tr>
</tbody></table>
<h4>
  School of Physical Sciences  
</h4>
<table id="alpha" border="1px" cellpadding="2px" align="center" style="width:55%">
<tbody><tr><th rowspan="2" style="color:black">Department</th>
<th colspan="2" align="center" style="background-color:#AFCED5;color:black"> Certificates</th>
</tr><tr>
<td align="center" colspan="1" style="background-color:#AFCED5;color:black"> <b>Ph.D </b></td>
<td align="center" colspan="1" style="background-color:#AFCED5;color:black"> <b>Guideship</b></td>
</tr>
<tr class="e">
<td>CHEMISTRY </td>
<td align="center"><a href="/SSR_Report/HTML/QNM\PhD_Certificates\CH_QNM_2.4.4_PhD_Certificates.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Guideship\PhD\CH_QNM_3.2.3_PhD_Guideship_Recognition.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
</tr>
<tr class="e">
<td>ELECTRONICS</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\PhD_Certificates\EL_QNM_2.4.4_PhD_Certificates.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
<td align="center"><!--<a href="/SSR_Report/HTML/QNM\Guideship\PhD\EL_QNM_3.2.3_PhD_Guideship_Recognition.pdf"target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center">-->-</td>
</tr>
<tr class="e">
<td>PHYSICS</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\PhD_Certificates\PH_QNM_2.4.4_PhD_Certificates.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Guideship\PhD\PH_QNM_3.2.3_PhD_Guideship_Recognition.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
</tr>
</tbody></table>
 <h4>Others</h4>  
<table id="alpha" border="1px" cellpadding="2px" align="center" style="width:55%">
<tbody><tr><th rowspan="2" style="color:black">Department</th>
<th colspan="2" align="center" style="background-color:#AFCED5;color:black"> Certificates</th>
</tr><tr>
<td align="center" colspan="1" style="background-color:#AFCED5;color:black"> <b>Ph.D </b></td>
<td align="center" colspan="1" style="background-color:#AFCED5;color:black"> <b>Guideship</b></td>
</tr>
<tr class="e">
<td>HINDI, LIBRARY SCIENCES, PHYSICAL DIRECTOR, SANSKRIT, PLACEMENT, RHT </td>
<td align="center"><a href="/SSR_Report/HTML/QNM\PhD_Certificates\OT_QNM_2.4.4_PhD_Certificates.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Guideship\PhD\OT_QNM_3.2.3_PhD_Guideship_Recognition.pdf" target="_b"><img src="/SSR_Report/HTML/pdf.png" align="center"></a></td>
</tr>
</tbody></table>
<br>
<ul><b>
<!-- 	<li><a href="/SSR_Report/HTML/QNM\Criterion2\KIM_2.4.2_QNM_Teachers_with_PhD.pdf"style="text-decoration:none"target="_b">Teachers with Ph.D/NET/SET - Summary(2012-18)</a></li>-->
<li><a href="/SSR_Report/HTML/QNM\Guideship\KIM_3.2.3_MPhil_Guideship_Recognition.pdf" style="text-decoration:none" target="_b">MPhil Guideship Recognition</a></li>
</b></ul><b>

 
				
			</b></div>