<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Brochure / Evidences for Values Added Courses
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse  " aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
       <!--start-->

			<div class="col-md-12">
			<h3 style="color:#580000;">1.3.2 Transferable &amp; Life Skills</h3>
			<hr style="border-bottom: 1px solid #580000;">
	
<style>
a{
text-decoration:none;
}
.button {
  padding: 6px 6px;
  font-size:20px;
  align:center;
  cursor: pointer;
  outline: none;
  background-color:RGB(230, 230, 250);
  border: none;
  border-radius:10px;
  box-shadow: 2px 5px #999;
}
.button:hover {background-color:rgb(204, 255, 255)}
.button:active {
  background-color:rgb(16, 136, 242  );
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}
</style>

 <h3><font style="Font-weight:bold;font-size:25pt;size:2em;color:#AA100A;font-style:oblique; font-family: myFirstFont;">Brochure / Evidences for Values Added Courses </font></h3>  


<br><table align="center">

<tbody><tr>
<!--<td><button class="button"><a href="/SSR_Report/HTML/QNM/2018-2019/A_Overall/KIM_3.6.3_QNM_2018-19_Extension_Activities.pdf"style="text-decoration:none;" target="_b">2018-19</button>&nbsp;&nbsp;&nbsp;&nbsp;</a><br><br></td>-->
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2017-18/KIM_1.3.2_QNM_2017_18_VAC_Broucher.pdf" style="text-decoration:none;" target="_b">2017-18</a></button><a href="/SSR_Report/HTML/QNM/2017-18/KIM_1.3.2_QNM_2017_18_VAC_Broucher.pdf" style="text-decoration:none;" target="_b">&nbsp;&nbsp;&nbsp;&nbsp;</a><br><br></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2016-17/KIM_1.3.2_QNM_2016_17_VAC_Broucher.pdf" style="text-decoration:none;" target="_c">2016-17</a></button><a href="/SSR_Report/HTML/QNM/2016-17/KIM_1.3.2_QNM_2016_17_VAC_Broucher.pdf" style="text-decoration:none;" target="_c">&nbsp;&nbsp;&nbsp;&nbsp;</a><br><br></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2015-16/KIM_1.3.2_QNM_2015_16_VAC_Broucher.pdf" style="text-decoration:none;" target="_d">2015-16</a></button><a href="/SSR_Report/HTML/QNM/2015-16/KIM_1.3.2_QNM_2015_16_VAC_Broucher.pdf" style="text-decoration:none;" target="_d">&nbsp;&nbsp;&nbsp;&nbsp;</a><br><br></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2014-15/KIM_1.3.2_QNM_2014_15_VAC_Broucher.pdf" style="text-decoration:none;" target="_e">2014-15</a></button><a href="/SSR_Report/HTML/QNM/2014-15/KIM_1.3.2_QNM_2014_15_VAC_Broucher.pdf" style="text-decoration:none;" target="_e">&nbsp;&nbsp;&nbsp;&nbsp;</a><br><br></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2013-14/KIM_1.3.2_QNM_2013_14_VAC_Broucher.pdf" style="text-decoration:none;" target="_f">2013-14</a></button><a href="/SSR_Report/HTML/QNM/2013-14/KIM_1.3.2_QNM_2013_14_VAC_Broucher.pdf" style="text-decoration:none;" target="_f">&nbsp;&nbsp;&nbsp;&nbsp;</a><br><br></td>
</tr>
</tbody></table> 
				
			</div>


	   <!--end-->
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Student Enrollment
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
      <!--start-->

		<div class="col-md-12">
			<h3 style="color:#580000;">1.3.2 Transferable &amp; Life Skills</h3>
			<hr style="border-bottom: 1px solid #580000;">
			
			
					






<style>
a{
text-decoration:none;
}
.button {
  padding: 6px 6px;
  font-size:20px;
  align:center;
  cursor: pointer;
  outline: none;
  background-color:RGB(230, 230, 250);
  border: none;
  border-radius:10px;
  box-shadow: 2px 5px #999;
}
.button:hover {background-color:rgb(204, 255, 255)}
.button:active {
  background-color:rgb(16, 136, 242  );
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}
</style>

   <h3><font style="Font-weight:bold;font-size:25pt;size:2em;color:#AA100A;font-style:oblique; font-family: myFirstFont;">Student Enrollment</font></h3>    


<br><table align="center">

<tbody><tr>
<!--<td><button class="button"><a href="/SSR_Report/HTML/QNM/2018-2019/A_Overall/KIM_3.6.3_QNM_2018-19_Extension_Activities.pdf"style="text-decoration:none;" target="_b">2018-19</button>&nbsp;&nbsp;&nbsp;&nbsp;</a><br><br></td>-->
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2017-18/KIM_1.3.3_QNM_2017_18_VAC_Students.pdf" style="text-decoration:none;" target="_b">2017-18</a></button><a href="/SSR_Report/HTML/QNM/2017-18/KIM_1.3.3_QNM_2017_18_VAC_Students.pdf" style="text-decoration:none;" target="_b">&nbsp;&nbsp;&nbsp;&nbsp;</a><br><br></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2016-17/KIM_1.3.3_QNM_2016_17_VAC_Students.pdf" style="text-decoration:none;" target="_c">2016-17</a></button><a href="/SSR_Report/HTML/QNM/2016-17/KIM_1.3.3_QNM_2016_17_VAC_Students.pdf" style="text-decoration:none;" target="_c">&nbsp;&nbsp;&nbsp;&nbsp;</a><br><br></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2015-16/KIM_1.3.3_QNM_2015_16_VAC_Students.pdf" style="text-decoration:none;" target="_d">2015-16</a></button><a href="/SSR_Report/HTML/QNM/2015-16/KIM_1.3.3_QNM_2015_16_VAC_Students.pdf" style="text-decoration:none;" target="_d">&nbsp;&nbsp;&nbsp;&nbsp;</a><br><br></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2014-15/KIM_1.3.3_QNM_2014_15_VAC_Students.pdf" style="text-decoration:none;" target="_e">2014-15</a></button><a href="/SSR_Report/HTML/QNM/2014-15/KIM_1.3.3_QNM_2014_15_VAC_Students.pdf" style="text-decoration:none;" target="_e">&nbsp;&nbsp;&nbsp;&nbsp;</a><br><br></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2013-14/KIM_1.3.3_QNM_2013_14_VAC_Students.pdf" style="text-decoration:none;" target="_f">2013-14</a></button><a href="/SSR_Report/HTML/QNM/2013-14/KIM_1.3.3_QNM_2013_14_VAC_Students.pdf" style="text-decoration:none;" target="_f">&nbsp;&nbsp;&nbsp;&nbsp;</a><br><br></td>
</tr>
</tbody></table>
</div>


	  <!--End-->
      </div>
    </div>
  </div>
  
</div>