<div class="col-md-12">
			<h3 style="color:#580000;">7.1.9 Divyangjan Friendliness</h3>
			<hr style="border-bottom: 1px solid #580000;">

<ul><b>
<li><a href="/SSR_Report/home.jsp?p=719A#71" style="text-decoration:none">Physical Facilities</a></li>
<li><a href="/SSR_Report/home.jsp?p=719B#71" style="text-decoration:none">Provisions for Lift</a></li>
<li><a href="/SSR_Report/home.jsp?p=719C#71" style="text-decoration:none">Ramps\Rails</a></li>
<li><a href="/SSR_Report/home.jsp?p=719D#71" style="text-decoration:none">Braille Software\Facilities</a></li>
<li><a href="/SSR_Report/home.jsp?p=719E#71" style="text-decoration:none">Rest rooms</a></li>
<li><a href="/SSR_Report/home.jsp?p=719F#71" style="text-decoration:none">Scribes for Examination</a></li>
<li><a href="/SSR_Report/home.jsp?p=719G#71" style="text-decoration:none">Special Skill development for Pwd</a></li>
<li><a href="/SSR_Report/home.jsp?p=719H#71" style="text-decoration:none">Any other Similar facilities</a></li>
<br>

<li><a href="/SSR_Report/home.jsp?p=719I#71" style="text-decoration:none">PwD Videos</a></li>
</b></ul><b>
</b></div>