<div class="col-md-12">
			<h3 style="color:#580000;">7.1.3 Renewable Energy Sources</h3>
			<hr style="border-bottom: 1px solid #580000;">
<ul><b>
<li><a href="/SSR_Report/HTML/QNM/Criterion7\KIM_7.1.3_QNM_Energy_Audit_Report.pdf" style="text-decoration:none;" target="_b">Green Audit Report</a></li>
<li><a href="/SSR_Report/HTML/QNM/Criterion7\KIM_7.1.3_QNM_Power_Requirement_Extract.pdf" style="text-decoration:none;" target="_c">Power Requirement Extract</a></li>
<li><a href="/SSR_Report/home.jsp?p=713A#71" style="text-decoration:none;">Photos</a></li><a href="/SSR_Report/home.jsp?p=713A#71" style="text-decoration:none;">
</a></b></ul><b><a href="/SSR_Report/home.jsp?p=713A#71" style="text-decoration:none;"> 
				
			</a></b></div>