<div class="col-md-12">
			<h3 style="color:#580000;">3.4.4 Ph. D. Awarded</h3>
			<hr style="border-bottom: 1px solid #580000;">

<br>
<ul><b>
<li><a href="http://sjctni.edu/research.jsp" style="text-decoration:none" target="_b">URL to the Research Page</a></li>
<li><a href="/SSR_Report/HTML/QNM/Criterion3/KIM_3.4.4_QNM_PhD_Awarded_Univ_Declaration.pdf" style="text-decoration:none" target="_c">PhD Awards declared by University</a></li>
<li><a href="/SSR_Report/home.jsp?p=344A#34" style="text-decoration:none">Cover Page of PhD Awarded Theses</a></li>
</b></ul><b>
 
				
			</b></div>