<div class="col-md-12">
			<h3 style="color:#580000;">3.7.1 Collaborative Activities</h3>
			<hr style="border-bottom: 1px solid #580000;">

<br>
<br>
<br>
<table align="center">
<tbody><tr>
<td><button class="button"><a href="/SSR_Report/HTML/QNM\2017-18\KIM_3.7.1_QNM_2017_18_Collobration.pdf" style="text-decoration:none;" target="_b"     >2017-18</a></button><a href="/SSR_Report/HTML/QNM\2017-18\KIM_3.7.1_QNM_2017_18_Collobration.pdf" style="text-decoration:none;" target="_b"     >&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM\2016-17\KIM_3.7.1_QNM_2016_17_Collobration.pdf" style="text-decoration:none;" target="_c"     >2016-17</a></button><a href="/SSR_Report/HTML/QNM\2016-17\KIM_3.7.1_QNM_2016_17_Collobration.pdf" style="text-decoration:none;" target="_c"     >&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM\2015-16\KIM_3.7.1_QNM_2015_16_Collobration.pdf" style="text-decoration:none;" target="_d"     >2015-16</a></button><a href="/SSR_Report/HTML/QNM\2015-16\KIM_3.7.1_QNM_2015_16_Collobration.pdf" style="text-decoration:none;" target="_d"     >&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM\2014-15\KIM_3.7.1_QNM_2014_15_Collobration.pdf" style="text-decoration:none;" target="_e"     >2014-15</a></button><a href="/SSR_Report/HTML/QNM\2014-15\KIM_3.7.1_QNM_2014_15_Collobration.pdf" style="text-decoration:none;" target="_e"     >&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM\2013-14\KIM_3.7.1_QNM_2013_14_Collobration.pdf" style="text-decoration:none;" target="_f"     >2013-14</a></button><a href="/SSR_Report/HTML/QNM\2013-14\KIM_3.7.1_QNM_2013_14_Collobration.pdf" style="text-decoration:none;" target="_f"     >&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
</tr>
</tbody></table> 
</div>