	<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Syllabus of the Courses
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
			<!-- SYLLABUS OF THE COURSES TABLE START -->


				<div class="col-md-12">
			<h3 style="color:#580000;">1.1.3 Courses with Employability/Entrepreneurship/Skill Development</h3>
			<hr style="border-bottom: 1px solid #580000;">
			
			
					






 <h3><font style="Font-weight:bold;font-size:25pt;size:5em;color:#AA100A;font-style:oblique; font-family: myFirstFont;">Syllabus of the Courses </font></h3> 
 <h3><font style="Font-weight:bold;size:1em">School of Biological Sciences </font></h3> <font style="Font-weight:bold;size:1em">
<table id="alpha" border="1px" cellpadding="2px" align="center" style="width:75%">
<tbody><tr><th rowspan="2" style="color:black">Department</th>
<th colspan="2" align="center" style="background-color:#AFCED5;color:black"> UG</th>
<th colspan="2" align="center" style="background-color:#AFCED5;color:black"> PG</th>
<th colspan="12" align="center" style="background-color:#AFCED5;color:black"> M.Phil</th>
</tr><tr>
<td style="background-color:#AFCED5;color:black" align="center" colspan="1"> <b>2014 </b></td>
<td style="background-color:#AFCED5;color:black" align="center" colspan="1"> <b>2017</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2014</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2016 </b></td>

<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2013</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"><b> 2015 </b></td>

</tr>
<!--<tr>
<td align="center"style="background-color:#AFCED5;color:black" colspan="1"><B>Syllabus</td align="center">
<td align="center"style="background-color:#AFCED5;color:black" colspan="1"><B>Syllabus</td align="center">
<td align="center"style="background-color:#AFCED5;color:black" colspan="1"><B>Syllabus</td align="center">

<td align="center"style="background-color:#AFCED5;color:black" colspan="1"><B>Syllabus</td align="center">
<td align="center"style="background-color:#AFCED5;color:black" colspan="1"><B>Syllabus</td align="center">
<td align="center"style="background-color:#AFCED5;color:black" colspan="1"><B>Syllabus</td align="center">

</tr>-->
<tr class="e">
<td align="center">BIOCHEMISTRY </td>
<td align="center">-</td>
<td align="center">-</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\BI\KIM_1.1.3_QNM_2014_15_PG_Syllabus_BI.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\BI\KIM_1.1.3_QNM_2016_17_PG_Syllabus_BI.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>

<td align="center">-</td>
<td align="center">-</td>

</tr>
<tr class="e">
<td align="center">BIOTECHNOLOGY</td>
<td align="center">-</td>
<td align="center">-</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\BT\KIM_1.1.3_QNM_2014_15_PG_Syllabus_BT.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\BT\KIM_1.1.3_QNM_2016_17_PG_Syllabus_BT.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>

<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\BT\KIM_1.1.3_QNM_2013_14_MPhil_Syllabus_BT.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\BT\KIM_1.1.3_QNM_2015_16_MPhil_Syllabus_BT.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>

</tr>
<tr class="e">
<td align="center">BOTANY</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\BO\KIM_1.1.3_QNM_2014_15_UG_Syllabus_BO.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\BO\KIM_1.1.3_QNM_2017_18_UG_Syllabus_BO.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\BO\KIM_1.1.3_QNM_2014_15_PG_Syllabus_BO.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\BO\KIM_1.1.3_QNM_2016_17_PG_Syllabus_BO.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>

<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\BO\KIM_1.1.3_QNM_2013_14_MPhil_Syllabus_BO.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\BO\KIM_1.1.3_QNM_2015_16_MPhil_Syllabus_BO.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>

</tr>
</tbody></table>
  <h3><font style="Font-weight:bold;size:1em">School of Computing Sciences </font></h3><font style="Font-weight:bold;size:1em"> </font> <font style="Font-weight:bold;size:1em">
<table id="alpha" border="1px" cellpadding="2px" align="center" style="width:75%">
<tbody><tr><th rowspan="2" colspan="2" style="color:black">Department</th>

<th colspan="2" align="center" style="background-color:#AFCED5;color:black"> UG</th>
<th colspan="2" align="center" style="background-color:#AFCED5;color:black"> PG</th>
<th colspan="12" align="center" style="background-color:#AFCED5;color:black"> M.Phil</th>
</tr><tr>
<td style="background-color:#AFCED5;color:black" align="center" colspan="1"> <b>2014 </b></td>
<td style="background-color:#AFCED5;color:black" align="center" colspan="1"> <b>2017</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2014</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2016 </b></td>

<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2013</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"><b> 2015 </b></td>

</tr>
<!--<tr>
<td align="center"style="background-color:#AFCED5;color:black" colspan="1"><B>Syllabus</td align="center">
<td align="center"style="background-color:#AFCED5;color:black" colspan="1"><B>Syllabus</td align="center">
<td align="center"style="background-color:#AFCED5;color:black" colspan="1"><B>Syllabus</td align="center">
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>Syllabus</td align="center">

<td align="center"style="background-color:#AFCED5;color:black" colspan="1"><B>Syllabus</td align="center">
<td align="center"style="background-color:#AFCED5;color:black" colspan="1"><B>Syllabus</td align="center">

</tr>-->
<tr class="e">
<td align="center" rowspan="2">COMPUTER<br>SCIENCE </td>
<td align="center">B.Sc(CS)</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\CS\KIM_1.1.3_QNM_2014_15_UG_Syllabus_CS.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\CS\KIM_1.1.3_QNM_2017_18_UG_Syllabus_CS.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center">-</td>
<td align="center">-</td>

<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\CS\KIM_1.1.3_QNM_2013_14_MPhil_Syllabus_CS.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\CS\KIM_1.1.3_QNM_2015_16_MPhil_Syllabus_CS.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
</tr>
<tr class="e">
<td align="center">MCA</td>
<td align="center">-</td>
<td align="center">-</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\CS\KIM_1.1.3_QNM_2014_15_PG_Syllabus_CS.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\CS\KIM_1.1.3_QNM_2017_18_PG_Syllabus_CS.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>

<td align="center">-</td>
<td align="center">-</td>
</tr>
<tr class="e">
<td align="center" rowspan="3">INFORMATION<br>TECHNOLOGY</td>
<td align="center">BCA</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\IT\KIM_1.1.3_QNM_2014_15_UG_Syllabus_IT.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\IT\KIM_1.1.3_QNM_2017_18_UG_Syllabus_IT.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center">-</td>
<td align="center">-</td>

<td align="center">-</td>
<td align="center">-</td>

</tr>
<tr class="e">
<td align="center">M.Sc(IT)</td>
<td align="center">-</td>
<td align="center">-</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\IT\KIM_1.1.3_QNM_2014_15_PGIT_Syllabus_IT.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\IT\KIM_1.1.3_QNM_2016_17_PGIT_Syllabus_IT.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td></td>
<td></td>
</tr>
<tr class="e">
<td align="center">M.Sc(CS)</td>
<td align="center">-</td>
<td align="center">-</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\IT\KIM_1.1.3_QNM_2014_15_PGMS_Syllabus_IT.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\IT\KIM_1.1.3_QNM_2016_17_PGMS_Syllabus_IT.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td></td>
<td></td>
</tr>
<tr class="e">
<td align="center" rowspan="2">MATHEMATICS</td>
<td align="center">B.Sc</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\MA\KIM_1.1.3_QNM_2014_15_UG_Syllabus_MA.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\MA\KIM_1.1.3_QNM_2017_18_UG_Syllabus_MA.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center">-</td>
<td align="center">-</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\MA\KIM_1.1.3_QNM_2013_14_MPhil_Syllabus_MA.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\MA\KIM_1.1.3_QNM_2015_16_MPhil_Syllabus_MA.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
</tr>
<tr class="e">
<td align="center">M.Sc</td>
<td align="center">-</td>
<td align="center">-</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\MA\KIM_1.1.3_QNM_2014_15_PG_Syllabus_MA.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\MA\KIM_1.1.3_QNM_2016_17_PG_Syllabus_MA.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center">-</td>
<td align="center">-</td>
</tr>
<tr class="e">

<td align="center" rowspan="2">STATISTICS</td>
<td align="center">B.Sc</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\ST\KIM_1.1.3_QNM_2014_15_UG_Syllabus_ST.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\ST\KIM_1.1.3_QNM_2017_18_UG_Syllabus_ST.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center">-</td>
<td align="center">-</td>

<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\ST\KIM_1.1.3_QNM_2013_14_MPhil_Syllabus_ST.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\ST\KIM_1.1.3_QNM_2015_16_MPhil_Syllabus_ST.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>

</tr>
<tr class="e">
<td align="center">M.Sc</td>
<td align="center">-</td>
<td align="center">-</td>
<td align="center">-</td>
<td align="center">-</td>
<td align="center">-</td>
<td align="center">-</td>
</tr>
</tbody></table>
   <h3><font style="Font-weight:bold;size:1em">School of Languages and Culture</font></h3> <font style="Font-weight:bold;size:1em">
<table id="alpha" border="1px" cellpadding="2px" align="center" style="width:75%">
<tbody><tr><th rowspan="2" style="color:black">Department</th>
<th colspan="2" align="center" style="background-color:#AFCED5;color:black"> UG</th>
<th colspan="2" align="center" style="background-color:#AFCED5;color:black"> PG</th>
<th colspan="12" align="center" style="background-color:#AFCED5;color:black"> M.Phil</th>
</tr><tr>
<td style="background-color:#AFCED5;color:black" align="center" colspan="1"> <b>2014 </b></td>
<td style="background-color:#AFCED5;color:black" align="center" colspan="1"> <b>2017</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2014</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2016 </b></td>

<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2013</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"><b> 2015 </b></td>

</tr>
<!--<tr>
<td align="center"style="background-color:#AFCED5;color:black" colspan="1"><B>Syllabus</td align="center">
<td align="center"style="background-color:#AFCED5;color:black" colspan="1"><B>Syllabus</td align="center">
<td align="center"style="background-color:#AFCED5;color:black" colspan="1"><B>Syllabus</td align="center">
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>Syllabus</td align="center">

<td align="center"style="background-color:#AFCED5;color:black" colspan="1"><B>Syllabus</td align="center">
<td align="center"style="background-color:#AFCED5;color:black" colspan="1"><B>Syllabus</td align="center">

</tr>-->
<tr class="e">
<td align="center">ENGLISH </td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\EN\KIM_1.1.3_QNM_2014_15_UG_Syllabus_EN.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\EN\KIM_1.1.3_QNM_2017_18_UG_Syllabus_EN.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\EN\KIM_1.1.3_QNM_2014_15_PG_Syllabus_EN.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\EN\KIM_1.1.3_QNM_2016_17_PG_Syllabus_EN.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>

<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\EN\KIM_1.1.3_QNM_2013_14_MPhil_Syllabus_EN.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\EN\KIM_1.1.3_QNM_2015_16_MPhil_Syllabus_EN.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>

</tr>
<tr class="e">
<td align="center">HISTORY</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\HS\KIM_1.1.3_QNM_2014_15_UG_Syllabus_HS.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\HS\KIM_1.1.3_QNM_2017_18_UG_Syllabus_HS.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\HS\KIM_1.1.3_QNM_2014_15_PG_Syllabus_HS.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\HS\KIM_1.1.3_QNM_2016_17_PG_Syllabus_HS.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\HS\KIM_1.1.3_QNM_2013_14_MPhil_Syllabus_HS.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\HS\KIM_1.1.3_QNM_2015_16_MPhil_Syllabus_HS.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>

</tr>
<tr class="e">
<td align="center">TAMIL</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\TA\KIM_1.1.3_QNM_2014_15_UG_Syllabus_TA.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\TA\KIM_1.1.3_QNM_2017_18_UG_Syllabus_TA.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\TA\KIM_1.1.3_QNM_2014_15_PG_Syllabus_TA.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\TA\KIM_1.1.3_QNM_2016_17_PG_Syllabus_TA.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>

<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\TA\KIM_1.1.3_QNM_2013_14_MPhil_Syllabus_TA.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\TA\KIM_1.1.3_QNM_2015_16_MPhil_Syllabus_TA.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>

</tr>
</tbody></table>
  <h3><font style="Font-weight:bold;size:1em">School of Management Studies</font></h3> <font style="Font-weight:bold;size:1em">
 <table id="alpha" border="1px" cellpadding="2px" align="center" style="width:75%">
<tbody><tr><th rowspan="2" style="color:black">Department</th>
<th colspan="2" align="center" style="background-color:#AFCED5;color:black"> UG</th>
<th colspan="2" align="center" style="background-color:#AFCED5;color:black"> PG</th>
<th colspan="12" align="center" style="background-color:#AFCED5;color:black"> M.Phil</th>
</tr><tr>
<td style="background-color:#AFCED5;color:black" align="center" colspan="1"> <b>2014 </b></td>
<td style="background-color:#AFCED5;color:black" align="center" colspan="1"> <b>2017</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2014</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2016 </b></td>

<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2013</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"><b> 2015 </b></td>

</tr>
<!--<tr>
<td align="center"style="background-color:#AFCED5;color:black" colspan="1"><B>Syllabus</td align="center">
<td align="center"style="background-color:#AFCED5;color:black" colspan="1"><B>Syllabus</td align="center">
<td align="center"style="background-color:#AFCED5;color:black" colspan="1"><B>Syllabus</td align="center">
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>Syllabus</td align="center">

<td align="center"style="background-color:#AFCED5;color:black" colspan="1"><B>Syllabus</td align="center">
<td align="center"style="background-color:#AFCED5;color:black" colspan="1"><B>Syllabus</td align="center">

</tr>-->
<tr class="e">
<td align="center">BBA</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\BU\KIM_1.1.3_QNM_2014_15_UG_Syllabus_BU.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\BU\KIM_1.1.3_QNM_2017_18_UG_Syllabus_BU.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center">-</td>
<td align="center">-</td>

<td align="center">-</td>
<td align="center">-</td>

</tr>
<tr class="e">
<td align="center"> MBA</td>
<td align="center">-</td>
<td align="center">-</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\MU\KIM_1.1.3_QNM_2014_15_PG_Syllabus_MU.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\MU\KIM_1.1.3_QNM_2015_16_PG_Syllabus_MU.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>

<td align="center">-</td>
<td align="center">-</td>

</tr>
<tr class="e">
<td align="center">COMMERCE</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\CO\KIM_1.1.3_QNM_2014_15_UG_Syllabus_CO.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\CO\KIM_1.1.3_QNM_2017_18_UG_Syllabus_CO.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\CO\KIM_1.1.3_QNM_2014_15_PG_Syllabus_CO.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\CO\KIM_1.1.3_QNM_2016_17_PG_Syllabus_CO.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>

<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\CO\KIM_1.1.3_QNM_2013_14_MPhil_Syllabus_CO.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\CO\KIM_1.1.3_QNM_2015_16_MPhil_Syllabus_CO.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>

</tr>
<tr class="e">
<td align="center">COMMERCE (CA)</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\CC\KIM_1.1.3_QNM_2014_15_UG_Syllabus_CC.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\CC\KIM_1.1.3_QNM_2017_18_UG_Syllabus_CC.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\CC\KIM_1.1.3_QNM_2014_15_PG_Syllabus_CC.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\CC\KIM_1.1.3_QNM_2016_17_PG_Syllabus_CC.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>

<td align="center">-</td>
<td align="center">-</td>

</tr>
<tr class="e">
<td align="center">ECONOMICS</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\EC\KIM_1.1.3_QNM_2014_15_UG_Syllabus_EC.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\EC\KIM_1.1.3_QNM_2017_18_UG_Syllabus_EC.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\EC\KIM_1.1.3_QNM_2014_15_PG_Syllabus_EC.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\EC\KIM_1.1.3_QNM_2016_17_PG_Syllabus_EC.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>

<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\EC\KIM_1.1.3_QNM_2013_14_MPhil_Syllabus_EC.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\EC\KIM_1.1.3_QNM_2015_16_MPhil_Syllabus_EC.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>

</tr>
<tr class="e">
<td align="center">HUMAN RESOURCE MANAGEMENT</td>
<td align="center">-</td>
<td align="center">-</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\HR\KIM_1.1.3_QNM_2014_15_PG_Syllabus_HR.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\HR\KIM_1.1.3_QNM_2016_17_PG_Syllabus_HR.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>

<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\HR\KIM_1.1.3_QNM_2013_14_MPhil_Syllabus_HR.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\HR\KIM_1.1.3_QNM_2015_16_MPhil_Syllabus_HR.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>

</tr>
</tbody></table>
  <h3><font style="Font-weight:bold;size:1em">School of Physical Sciences</font></h3> <font style="Font-weight:bold;size:1em">
 <table id="alpha" border="1px" cellpadding="2px" align="center" style="width:75%">
<tbody><tr><th rowspan="2" style="color:black">Department</th>
<th colspan="2" align="center" style="background-color:#AFCED5;color:black"> UG</th>
<th colspan="2" align="center" style="background-color:#AFCED5;color:black"> PG</th>
<th colspan="12" align="center" style="background-color:#AFCED5;color:black"> M.Phil</th>
</tr><tr>
<td style="background-color:#AFCED5;color:black" align="center" colspan="1"> <b>2014 </b></td>
<td style="background-color:#AFCED5;color:black" align="center" colspan="1"> <b>2017</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2014</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2016 </b></td>

<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2013</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"><b> 2015 </b></td>

</tr>
<!--<tr>
<td align="center"style="background-color:#AFCED5;color:black" colspan="1"><B>Syllabus</td align="center">
<td align="center"style="background-color:#AFCED5;color:black" colspan="1"><B>Syllabus</td align="center">
<td align="center"style="background-color:#AFCED5;color:black" colspan="1"><B>Syllabus</td align="center">
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>Syllabus</td align="center">

<td align="center"style="background-color:#AFCED5;color:black" colspan="1"><B>Syllabus</td align="center">
<td align="center"style="background-color:#AFCED5;color:black" colspan="1"><B>Syllabus</td align="center">

</tr>-->
<tr class="e">
<td align="center">CHEMISTRY</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\CH\KIM_1.1.3_QNM_2014_15_UG_Syllabus_CH.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\CH\KIM_1.1.3_QNM_2017_18_UG_Syllabus_CH.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\CH\KIM_1.1.3_QNM_2014_15_PG_Syllabus_CH.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\CH\KIM_1.1.3_QNM_2016_17_PG_Syllabus_CH.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>

<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\CH\KIM_1.1.3_QNM_2013_14_MPhil_Syllabus_CH.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\CH\KIM_1.1.3_QNM_2015_16_MPhil_Syllabus_CH.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>

</tr>
<tr class="e">
<td align="center">ELECTRONICS</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\EL\KIM_1.1.3_QNM_2014_15_UG_Syllabus_EL.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\EL\KIM_1.1.3_QNM_2017_18_UG_Syllabus_EL.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\EL\KIM_1.1.3_QNM_2014_15_PG_Syllabus_EL.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\EL\KIM_1.1.3_QNM_2016_17_PG_Syllabus_EL.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>

<td align="center">-</td>
<td align="center">-</td>

</tr>
<tr class="e">
<td align="center">PHYSICS</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\PH\KIM_1.1.3_QNM_2014_15_UG_Syllabus_PH.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\PH\KIM_1.1.3_QNM_2017_18_UG_Syllabus_PH.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\PH\KIM_1.1.3_QNM_2014_15_PG_Syllabus_PH.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\PH\KIM_1.1.3_QNM_2016_17_PG_Syllabus_PH.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>

<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\PH\KIM_1.1.3_QNM_2013_14_MPhil_Syllabus_PH.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\PH\KIM_1.1.3_QNM_2015_16_MPhil_Syllabus_PH.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>

</tr>
</tbody></table>
 <h3><font style="Font-weight:bold;size:1em">Vocational Programmes</font></h3> 
 <table id="alpha" border="1px" cellpadding="2px" align="center" style="width:75%">
<tbody><tr><th rowspan="2" style="color:black">Department</th>
<th colspan="2" align="center" style="background-color:#AFCED5;color:black"> UG</th>
</tr><tr>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2014 </b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2017</b></td>
</tr><!--
<td align="center"style="background-color:#AFCED5;color:black" colspan="1"><B>Syllabus</td align="center">
<td align="center"style="background-color:#AFCED5;color:black"colspan="1"><B>Syllabus</td align="center">-->

<tr class="e">
<td align="center">VISUAL COMMUNICATION TECHNOLOGY </td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\VT\KIM_1.1.3_QNM_2014_15_UG_Syllabus_VT.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"> <a href="/SSR_Report/HTML/QNM\Syllabus\VT\KIM_1.1.3_QNM_2017_18_UG_Syllabus_VT.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
</tr>
<tr class="e">
<td align="center">SOFTWARE DEVELOPMENT &amp; SYSTEM ADMINISTRATION</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\SD\KIM_1.1.3_QNM_2014_15_UG_Syllabus_SS.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\Syllabus\SD\KIM_1.1.3_QNM_2017_18_UG_Syllabus_SS.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
</tr>
</tbody></table>
 <h3><font style="Font-weight:bold;size:1em">Diploma Programme (PGDCSA)</font></h3> 
 <table id="alpha" border="1px" cellpadding="2px" align="center" style="width:75%">
<tbody><tr><th rowspan="2" style="color:black">Department</th>
</tr><tr>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2014 </b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2016</b></td>
</tr><!--
<td align="center"style="background-color:#AFCED5;color:black" colspan="1"><B>Syllabus</td align="center">
<td align="center"style="background-color:#AFCED5;color:black"colspan="1"><B>Syllabus</td align="center">-->

<tr class="e">
<td align="center"> INFORMATION TECHNOLOGY</td>
 <td align="center">-</td>
<td align="center"> <a href="/SSR_Report/HTML/QNM\Syllabus\IT\KIM_1.1.3_QNM_2016_17_PGDCA_Syllabus_IT.pdf" target="_b"><img src="  ../assets/img/pdf.png" align="center"></a></td>
</tr>
</tbody></table>
<br>
<br>
</font></font></font></font></font></div>



			<!-- SYLLABUS OF THE COURSES TABLE END-->
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         BoS Meeting Minutes
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">

					<!-- table content-->


						<div class="col-md-12">
			<h3 style="color:#580000;">1.1.3 Courses with Employability/Entrepreneurship/Skill Development</h3>
			<hr style="border-bottom: 1px solid #580000;">
			
	<h3><font style="Font-weight:bold;font-size:25pt;size:5em;color:#AA100A;font-style:oblique; font-family: myFirstFont;">Minutes of Boards of Studies </font></h3>   
   <h3><font style="Font-weight:bold;size:1em">School of Biological Sciences </font></h3>   <font style="Font-weight:bold;size:1em">
<table id="alpha" border="1px" cellpadding="2px" align="center" style="width:75%">
<tbody><tr><th rowspan="2" style="color:black">Department</th>
</tr><tr>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2014 </b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2017</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2014</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2016 </b></td>
<!--<td align="center" style="background-color:#AFCED5;color:black"colspan="1"align="center"><B> 2018</td align="center">-->
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2013</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"><b> 2015 </b></td>
<!--<td align="center" style="background-color:#AFCED5;color:black" colspan="2"align="center"><B> 2018</td align="center">-->
</tr>
<!--<tr>
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">
<!--<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">
<!--<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">
</tr>-->
<tr class="e">
<td align="center">BIOCHEMISTRY </td>
<td align="center">-</td>
<td align="center">-</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\BI\KIM_1.1.3_QNM_2014_15_BOS_BI.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\BI\KIM_1.1.3_QNM_2016_17_BOS_BI.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<!--<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\BI\KIM_1.1.3_QNM_2018_19_BOS_BI.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></td align="center">-->
<td align="center">-</td>
<td align="center">-</td>
<!--<td align="center">-</td align="center">-->
</tr>
<tr class="e">
<td align="center">BIOTECHNOLOGY</td>
<td align="center">-</td>
<td align="center">-</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\BT\KIM_1.1.3_QNM_2014_15_BOS_BT.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\BT\KIM_1.1.3_QNM_2016_17_BOS_BT.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<!--<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\BT\KIM_1.1.3_QNM_2018_19_BOS_BT.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></td align="center">-->
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\BT\KIM_1.1.3_QNM_2013_14_BOS_BT.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\BT\KIM_1.1.3_QNM_2015_16_BOS_BT.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<!--<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\BT\KIM_1.1.3_QNM_2018_19_BOS_BT.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></td align="center">-->
</tr>
<tr class="e">
<td align="center">BOTANY</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\BO\KIM_1.1.3_QNM_2014_15_BOS_BO.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\BO\KIM_1.1.3_QNM_2017_18_BOS_BO.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\BO\KIM_1.1.3_QNM_2014_15_BOS_BO.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\BO\KIM_1.1.3_QNM_2016_17_BOS_BO.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<!--<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\BO\KIM_1.1.3_QNM_2018_19_BOS_BO.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></td align="center">-->
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\BO\KIM_1.1.3_QNM_2013_14_BOS_BO.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\BO\KIM_1.1.3_QNM_2015_16_BOS_BO.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<!--<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\BO\KIM_1.1.3_QNM_2018_19_BOS_BO.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></td align="center">-->
</tr>
</tbody></table>
    <h3><font style="Font-weight:bold;size:1em">School of Computing Sciences </font></h3><font style="Font-weight:bold;size:1em"> </font>   <font style="Font-weight:bold;size:1em">
<table id="alpha" border="1px" cellpadding="2px" align="center" style="width:75%">
<tbody><tr><th rowspan="2" style="color:black">Department</th>
</tr><tr>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2014 </b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2017</b></td>

<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2014</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2016 </b></td>

<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2013</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"><b> 2015 </b></td>

</tr>
<!--<tr>
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">
</tr>-->
<tr class="e">
<td align="center">COMPUTER<br>SCIENCE </td>	
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\CS\KIM_1.1.3_QNM_2014_15_BOS_CS.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\CS\KIM_1.1.3_QNM_2017_18_BOS_CS.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\CS\KIM_1.1.3_QNM_2013_14_BOS_CS.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\CS\KIM_1.1.3_QNM_2015_16_BOS_CS.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\CS\KIM_1.1.3_QNM_2013_14_BOS_CS.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\CS\KIM_1.1.3_QNM_2015_16_BOS_CS.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>

</tr>
<tr class="e">
<td align="center">INFORMATION<br>TECHNOLOGY </td>	
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\IT\KIM_1.1.3_QNM_2014_15_BOS_IT.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\IT\KIM_1.1.3_QNM_2017_18_BOS_IT.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\IT\KIM_1.1.3_QNM_2014_15_BOS_IT.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\IT\KIM_1.1.3_QNM_2016_17_BOS_IT.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center">-</td>
<td align="center"><!--<a href="/SSR_Report/HTML/QNM\BOS\IT\KIM_1.1.3_QNM_2015_16_BOS_IT.pdf" target="_b"><img src="../assets/img/pdf.png" align="center">-->-</td>

</tr>
<tr class="e">
<td align="center">MATHEMATICS</td>	
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\MA\KIM_1.1.3_QNM_2014_15_BOS_MA.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\MA\KIM_1.1.3_QNM_2017_18_BOS_MA.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center">-</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\MA\KIM_1.1.3_QNM_2016_17_BOS_MA.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\MA\KIM_1.1.3_QNM_2013_14_BOS_MA.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\MA\KIM_1.1.3_QNM_2015_16_BOS_MA.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>

</tr>
<tr class="e">
<td align="center">STATISTICS</td>	
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\ST\KIM_1.1.3_QNM_2014_15_BOS_ST.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\ST\KIM_1.1.3_QNM_2017_18_BOS_ST.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center">-</td>
<td align="center">-</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\ST\KIM_1.1.3_QNM_2013_14_BOS_ST.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\ST\KIM_1.1.3_QNM_2015_16_BOS_ST.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
</tr>
</tbody></table>
    <h3><font style="Font-weight:bold;size:1em">School of Languages and Culture </font></h3><font style="Font-weight:bold;size:1em"> </font>   <font style="Font-weight:bold;size:1em">
<table id="alpha" border="1px" cellpadding="2px" align="center" style="width:75%">
<tbody><tr><th rowspan="2" style="color:black">Department</th>
</tr><tr>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2014 </b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2017</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2014</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2016 </b></td>

<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2013</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"><b> 2015 </b></td>

</tr>
<!--<tr>
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">

<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">

</tr>-->
<tr class="e">
<td align="center">ENGLISH </td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\EN\KIM_1.1.3_QNM_2014_15_BOS_EN.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\EN\KIM_1.1.3_QNM_2017_18_BOS_EN.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\EN\KIM_1.1.3_QNM_2014_15_BOS_EN.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\EN\KIM_1.1.3_QNM_2016_17_BOS_EN.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\EN\KIM_1.1.3_QNM_2013_14_BOS_EN.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\EN\KIM_1.1.3_QNM_2015_16_BOS_EN.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
</tr>
<tr class="e">
<td align="center">HISTORY</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\HS\KIM_1.1.3_QNM_2014_15_BOS_HS.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\HS\KIM_1.1.3_QNM_2017_18_BOS_HS.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\HS\KIM_1.1.3_QNM_2014_15_BOS_HS.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\HS\KIM_1.1.3_QNM_2016_17_BOS_HS.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\HS\KIM_1.1.3_QNM_2013_14_BOS_HS.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\HS\KIM_1.1.3_QNM_2015_16_BOS_HS.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
</tr>
<tr class="e">
<td align="center">TAMIL</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\TA\KIM_1.1.3_QNM_2014_15_BOS_TA.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\TA\KIM_1.1.3_QNM_2017_18_BOS_TA.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\TA\KIM_1.1.3_QNM_2014_15_BOS_TA.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\TA\KIM_1.1.3_QNM_2016_17_BOS_TA.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\TA\KIM_1.1.3_QNM_2013_14_BOS_TA.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\TA\KIM_1.1.3_QNM_2015_16_BOS_TA.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
</tr>
</tbody></table>
    <h3><font style="Font-weight:bold;size:1em">School of Management Studies </font></h3><font style="Font-weight:bold;size:1em"> </font>   <font style="Font-weight:bold;size:1em">
<table id="alpha" border="1px" cellpadding="2px" align="center" style="width:75%">
<tbody><tr><th rowspan="2" style="color:black">Department</th>
</tr><tr>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2014 </b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2017</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2014</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2016 </b></td>

<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2013</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"><b> 2015 </b></td>

</tr>
<!--<tr>
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">

<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">

</tr>-->
<tr class="e">
<td align="center">BBA </td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\BU\KIM_1.1.3_QNM_2014_15_BOS_BU.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\BU\KIM_1.1.3_QNM_2017_18_BOS_BU.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center">-</td>
<td align="center">-</td>

<td align="center">-</td>
<td align="center">-</td>

</tr>
<tr class="e">
<td align="center"> MBA</td>
<td align="center">-</td>
<td align="center">-</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\MU\KIM_1.1.3_QNM_2014_15_BOS_MU.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\MU\KIM_1.1.3_QNM_2015_16_BOS_MU.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>

<td align="center">-</td>
<td align="center">-</td>

</tr>
<tr class="e">
<td align="center">COMMERCE </td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\CO\KIM_1.1.3_QNM_2014_15_BOS_CO.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\CO\KIM_1.1.3_QNM_2017_18_BOS_CO.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\CO\KIM_1.1.3_QNM_2014_15_BOS_CO.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\CO\KIM_1.1.3_QNM_2016_17_BOS_CO.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\CO\KIM_1.1.3_QNM_2013_14_BOS_CO.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\CO\KIM_1.1.3_QNM_2015_16_BOS_CO.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
</tr>
<tr class="e">
<td align="center">COMMERCE<br>COMPUTER<br>APPLICATION </td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\CC\KIM_1.1.3_QNM_2014_15_BOS_CC.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\CC\KIM_1.1.3_QNM_2017_18_BOS_CC.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\CC\KIM_1.1.3_QNM_2014_15_BOS_CC.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\CC\KIM_1.1.3_QNM_2016_17_BOS_CC.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center">-</td>
<td align="center">-</td>
</tr>
<tr class="e">
<td align="center">ECONOMICS	 </td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\EC\KIM_1.1.3_QNM_2014_15_BOS_EC.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\EC\KIM_1.1.3_QNM_2017_18_BOS_EC.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\EC\KIM_1.1.3_QNM_2014_15_BOS_EC.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\EC\KIM_1.1.3_QNM_2016_17_BOS_EC.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\EC\KIM_1.1.3_QNM_2013_14_BOS_EC.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\EC\KIM_1.1.3_QNM_2015_16_BOS_EC.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
</tr>
<tr class="e">
<td align="center">HUMAN<br>RESOURCE<br>MANAGEMENT</td>
<td align="center">-</td>
<td align="center">-</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\HR\KIM_1.1.3_QNM_2014_15_BOS_HR.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\HR\KIM_1.1.3_QNM_2016_17_BOS_HR.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>

<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\HR\KIM_1.1.3_QNM_2013_14_BOS_HR.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\HR\KIM_1.1.3_QNM_2015_16_BOS_HR.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>

</tr>
</tbody></table>
    <h3><font style="Font-weight:bold;size:1em">School of Physical Sciences </font></h3><font style="Font-weight:bold;size:1em"> </font>   <font style="Font-weight:bold;size:1em">
<table id="alpha" border="1px" cellpadding="2px" align="center" style="width:75%">
<tbody><tr><th rowspan="2" style="color:black">Department</th>
</tr><tr>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2014 </b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2017</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2014</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2016 </b></td>

<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2013</b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"><b> 2015 </b></td>

</tr>
<!--<tr>
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">

<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">
<td align="center" style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">

</tr>-->
<tr class="e">
<td align="center">CHEMISTRY</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\CH\KIM_1.1.3_QNM_2014_15_BOS_CH.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\CH\KIM_1.1.3_QNM_2017_18_BOS_CH.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\CH\KIM_1.1.3_QNM_2014_15_BOS_CH.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\CH\KIM_1.1.3_QNM_2016_17_BOS_CH.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\CH\KIM_1.1.3_QNM_2013_14_BOS_CH.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\CH\KIM_1.1.3_QNM_2015_16_BOS_CH.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
</tr>
<tr class="e">
<td align="center">ELECTRONICS</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\EL\KIM_1.1.3_QNM_2014_15_BOS_EL.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\EL\KIM_1.1.3_QNM_2017_18_BOS_EL.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\EL\KIM_1.1.3_QNM_2014_15_BOS_EL.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\EL\KIM_1.1.3_QNM_2016_17_BOS_EL.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center">-</td>
<td align="center">-</td>
</tr>
<tr class="e">
<td align="center">PHYSICS</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\PH\KIM_1.1.3_QNM_2014_15_BOS_PH.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\PH\KIM_1.1.3_QNM_2017_18_BOS_PH.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\PH\KIM_1.1.3_QNM_2014_15_BOS_PH.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\PH\KIM_1.1.3_QNM_2016_17_BOS_PH.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\PH\KIM_1.1.3_QNM_2013_14_BOS_PH.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\PH\KIM_1.1.3_QNM_2015_16_BOS_PH.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
</tr>
</tbody></table>
    <h3><font style="Font-weight:bold;size:1em">Vocational Programmes</font></h3><font style="Font-weight:bold;size:1em"> </font>   <font style="Font-weight:bold;size:1em">
<table id="alpha" border="1px" cellpadding="2px" align="center" style="width:70%">
<tbody><tr><th rowspan="2" style="color:black">Department</th>
</tr><tr>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2014 </b></td>
<td align="center" style="background-color:#AFCED5;color:black" colspan="1"> <b>2017</b></td>
</tr><!--
<td align="center"style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">
<td align="center"style="background-color:#AFCED5;color:black"colspan="1"><B>BOS</td align="center">
</tr>-->
<tr class="e">
<td align="center">VISUAL<br>COMMUNICATION<br>TECHNOLOGY </td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\VT\KIM_1.1.3_QNM_2014_15_BOS_VT.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"> <a href="/SSR_Report/HTML/QNM\BOS\VT\KIM_1.1.3_QNM_2017_18_BOS_VT.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
</tr>
<tr class="e">
<td align="center">SOFTWARE <br>DEVELOPMENT <br>&amp; <br> SYSTEM <br>ADMINISTRATION</td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\SD\KIM_1.1.3_QNM_2014_15_BOS_SD.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
<td align="center"><a href="/SSR_Report/HTML/QNM\BOS\SD\KIM_1.1.3_QNM_2017_18_BOS_SD.pdf" target="_b"><img src="../assets/img/pdf.png" align="center"></a></td>
</tr> 
				

</tbody></table></font></font></font></font></font></font></div>


<!--table content end-->
      </div>
    </div>
  </div>
  
</div>