<div class="col-md-12">
			<h3 style="color:#580000;">6.2.3 e-Governance</h3>
			<hr style="border-bottom: 1px solid #580000;">

<ul><b>
<li><a href="/SSR_Report/HTML/QNM\Criterion6\KIM_6.2.3_QNM_ERP_Document.pdf" target="_b" style="text-decoration:none;">ERP Document</a></li>
<li><a href="/SSR_Report/HTML/QNM\Criterion6\KIM_6.2.3_QNM_ERP_Screenshots.pdf" target="_c" style="text-decoration:none;">ERP Snapshot</a></li>
<li><a href="/SSR_Report/HTML/QNM\Criterion6\KIM_6.2.3_QNM_Egov_Planning.pdf" target="_d" style="text-decoration:none;">Planning &amp; Development</a></li>
</b></ul><b> 
				
			</b></div>