<div class="col-md-12">
			<h3 style="color:#580000;">7.1.17 Universal Values</h3>
			<hr style="border-bottom: 1px solid #580000;">


 <style>

</style>

<ul><b>
<li>Event Report</li></b><br>
<table align="center">
<tbody><tr>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2017-18\KIM_7.1.17_QNM_Human_Values-2017-18.pdf" style="text-decoration:none" target="_b">2017-18</a></button><a href="/SSR_Report/HTML/QNM/2017-18\KIM_7.1.17_QNM_Human_Values-2017-18.pdf" style="text-decoration:none" target="_b">&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2016-17\KIM_7.1.17_QNM_Human_Values-2016-17.pdf" style="text-decoration:none" target="_c">2016-17</a></button><a href="/SSR_Report/HTML/QNM/2016-17\KIM_7.1.17_QNM_Human_Values-2016-17.pdf" style="text-decoration:none" target="_c">&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2015-16\KIM_7.1.17_QNM_Human_Values-2015-16.pdf" style="text-decoration:none" target="_d">2015-16</a></button><a href="/SSR_Report/HTML/QNM/2015-16\KIM_7.1.17_QNM_Human_Values-2015-16.pdf" style="text-decoration:none" target="_d">&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2014-15\KIM_7.1.17_QNM_Human_Values-2014-15.pdf" style="text-decoration:none" target="_e">2014-15</a></button><a href="/SSR_Report/HTML/QNM/2014-15\KIM_7.1.17_QNM_Human_Values-2014-15.pdf" style="text-decoration:none" target="_e">&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2013-14\KIM_7.1.17_QNM_Human_Values-2013-14.pdf" style="text-decoration:none" target="_f">2013-14</a></button><a href="/SSR_Report/HTML/QNM/2013-14\KIM_7.1.17_QNM_Human_Values-2013-14.pdf" style="text-decoration:none" target="_f">&nbsp;&nbsp;&nbsp;</a></td>
<!--<td><button class="button"><a href="/SSR_Report/HTML/QNM/2012-2013\A_Overall\KIM_7.1.14_QNM_2012-2013_National_Identities.pdf"style="text-decoration:none"target="_b">2012-13</button>&nbsp;&nbsp;&nbsp;</a></td>-->
</tr></tbody></table>
<br>
<li><a href="/SSR_Report/home.jsp?p=7117B#71"><b>Videos</b></a></li><b>
</b></ul><b>


 
				
			</b></div>