
         <div id="side_menu" class="list-group" style="margin-top:10px">
                       
                <a href="Objectives.aspx" class="list-group-item list-group-item-action">Objective&Framework</a>
                <a href="Quality_Policy.aspx" class="list-group-item list-group-item-action">Quality Policy</a>
                <a href="Vision_Mission.aspx" class="list-group-item list-group-item-action">Vision-Mission</a>
                <a href="home.aspx" class="list-group-item list-group-item-action active">Cycle IV SSR</a>
                <a href="Core_Committe_Members.aspx" class="list-group-item list-group-item-action">Core Committe Members</a>
                <a href="AQAR.aspx" class="list-group-item list-group-item-action">AQAR</a>
                <a href="Quality_Initiatives.aspx" class="list-group-item list-group-item-action">Quality Initiatives</a>
                <a href="IQAC_Meetings.aspx" class="list-group-item list-group-item-action">IQAC Meetings</a>
                <a href="Peer_Team_Report.aspx" class="list-group-item list-group-item-action">Peer Team Reports</a>
                <a href="NAAC_Certificates.aspx" class="list-group-item list-group-item-action">NAAC Certificates</a>
                <a href="Roll_of_Honour.aspx" class="list-group-item list-group-item-action">Roll of Honour</a>
                <a href="MQC.aspx" class="list-group-item list-group-item-action">MQC</a>
                <a href="Feedback.aspx" class="list-group-item list-group-item-action " tabindex="-1" aria-disabled="true">FeedBack</a>
            </div>


    


    
<style>

        body {
    background: white;
    font-size: 16px;
    font-family: "PT Serif", Georgia, serif;
    font-weight: normal;
    font-style: normal;
    line-height: 28px;
    color: #777777;
    -webkit-font-smoothing: antialiased;
    /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}






.pdf {
    height: -webkit-fill-available;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background-color: #34495e !important;
    border-color: #34495e !important;
}

#right_menu {
    margin-right: 20px !important;
    margin: 10px;
    color: #00a8d6;
}

.usercard {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 8px;
    background: #34495e;
    color: white;
    box-sizing: border-box;
}

.usercard .header {


        padding: 5px;
        border-bottom: solid 1px white;
        font-size: 20px;
        font-weight: bold;
}

td b {
    font-size: 20px;
    color: white;
}

.navbar {
    background: #34495e !important;
    
}
.nav-item a {
    color: white !important;
}
.navbar a img{
    width:380px !important;
    height:70px !important;
}

/*NEW User CSS*/

.main{
    margin-top:10px;
}
.facalitycard {
    background: #34495e !important;
    color: white !important;
    font-family: muli;
}
.card img {
        padding: 10px;
}
.collapse a {
    font: 400 18px/26px Muli;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 20px;
    line-height: 26px;
    font-family: Muli;
}
.page-footer {
    margin-top:10px;
    background: #34495e !important;
    color: white !important;
    font-family: muli;
}
.page-footer a{
    color:white !important;
}
.dropdown-menu{
    background: #34495e !important;
}
.dropdown-item:hover {
    background-color: #34495e !important;
}

      </style>