<div class="col-md-12">
			<h3 style="color:#580000;">6.3.3 Training Programmes</h3>
			<hr style="border-bottom: 1px solid #580000;">
		
<ul><b>
<li>Training Programmes organised - Teaching</li><br></b>
<table align="center">
  <tbody><tr>
<!--<td><button class="button"><a href="/SSR_Report/HTML/QNM/2018-2019/A_Overall/KIM_1.2.1_QNM_2018-19_New_Courses.pdf" style="text-decoration:none;"target="_b">2018-19</button>&nbsp;&nbsp;&nbsp;&nbsp;</a></td>-->
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2017-18/KIM_6.3.3_QNM_2017-18_Teaching_Programme.pdf" style="text-decoration:none;" target="_b">2017-18</a></button><a href="/SSR_Report/HTML/QNM/2017-18/KIM_6.3.3_QNM_2017-18_Teaching_Programme.pdf" style="text-decoration:none;" target="_b">&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2016-17/KIM_6.3.3_QNM_2016-17_Teaching_Programme.pdf" style="text-decoration:none;" target="_c">2016-17</a></button><a href="/SSR_Report/HTML/QNM/2016-17/KIM_6.3.3_QNM_2016-17_Teaching_Programme.pdf" style="text-decoration:none;" target="_c">&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2015-16/KIM_6.3.3_QNM_2015-16_Teaching_Programme.pdf" style="text-decoration:none;" target="_d">2015-16</a></button><a href="/SSR_Report/HTML/QNM/2015-16/KIM_6.3.3_QNM_2015-16_Teaching_Programme.pdf" style="text-decoration:none;" target="_d">&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2014-15/KIM_6.3.3_QNM_2014-15_Teaching_Programme.pdf" style="text-decoration:none;" target="_e">2014-15</a></button><a href="/SSR_Report/HTML/QNM/2014-15/KIM_6.3.3_QNM_2014-15_Teaching_Programme.pdf" style="text-decoration:none;" target="_e">&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2013-14/KIM_6.3.3_QNM_2013-14_Teaching_Programme.pdf" style="text-decoration:none;" target="_f">2013-14</a></button><a href="/SSR_Report/HTML/QNM/2013-14/KIM_6.3.3_QNM_2013-14_Teaching_Programme.pdf" style="text-decoration:none;" target="_f">&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<!--<td><button class="button"><a href="/SSR_Report/HTML/QNM/2012-2013//KIM_1.2.1_QNM_2012-13_New_Courses.pdf" style="text-decoration:none;"target="_g">2012-13</button></a></td>-->
</tr>
</tbody></table><br>
<li><a href="/SSR_Report/HTML/QNM\Criterion6\KIM_6.3.3_QNM_Non_Teaching_Programme.pdf" target="_h" style="text-decoration:none;"><b>Training Programmes organised - Non Teaching</b></a></li>
</ul> 
				
			</div>