<div class="col-md-12">
			<h3 style="color:#580000;">3.1.4 Facilities of the Institution</h3>
			<hr style="border-bottom: 1px solid #580000;">

<ul class="a"><b>
<li><a href="/SSR_Report/home.jsp?p=314A#31" style="text-decoration:none;">Archbishop Casmir Instrumentation Centre (ACIC)</a></li>
<li><a href="/SSR_Report/home.jsp?p=314B#31" style="text-decoration:none;">Newton Museum</a></li>
<li><a href="/SSR_Report/home.jsp?p=314C#31" style="text-decoration:none;">Central Fabrication Facility</a></li>
<li><a href="/SSR_Report/home.jsp?p=314D#31" style="text-decoration:none;">Fr.Jerome Centre for Information and Communication Technology(JCICT)</a></li>
<li><a href="/SSR_Report/home.jsp?p=314F#31" style="text-decoration:none;">Language Lab</a></li>
<li><a href="/SSR_Report/home.jsp?p=314G#31" style="text-decoration:none;">Media Lab</a></li>
<li><a href="http://rapinatherbarium.tripod.com/" style="text-decoration:none;" target="_B">Rapinat Herbarium Centre for Molecular Systematics (RHT)</a></li>
<li><a href="/SSR_Report/home.jsp?p=314E#31" style="text-decoration:none;">Videos</a></li></b>

<!--<li><a href="#">Sjc Research Directory</li></a>
<li><a href="#">Incubation Centre for Startup</li></a>-->
</ul>
 
				
			</div>