<div class="col-md-12">
			<h3 style="color:#580000;">5.3.1 Sports / Cultutral Awards</h3>
			<hr style="border-bottom: 1px solid #580000;">
			
			
					






<style>
a{
text-decoration:none;
}
.button {
  padding: 4px 5px;
  font-size:20px;
  align:center;
  cursor: pointer;
  outline: none;
  background-color:RGB(230, 230, 250);
  border: none;
  border-radius:12px;
  box-shadow: 0 9px #999;
}
.button:hover {background-color:rgb(204, 255, 255)}
.button:active {
  background-color:rgb(16, 136, 242  );
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}
</style>


<ul>
<li><b>Sports</b></li>
</ul>
<table align="center">
<tbody><tr><td><button class="button"><a href="/SSR_Report/HTML/QNM/2017-18\KIM_5.3.1_QNM_Sports_Awards_2017-18.pdf" target="_b" style="text-decoration:none;">2017-18</a></button><a href="/SSR_Report/HTML/QNM/2017-18\KIM_5.3.1_QNM_Sports_Awards_2017-18.pdf" target="_b" style="text-decoration:none;">&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2016-17\KIM_5.3.1_QNM_Sports_Awards_2016-17.pdf" target="_c" style="text-decoration:none;">2016-17</a></button><a href="/SSR_Report/HTML/QNM/2016-17\KIM_5.3.1_QNM_Sports_Awards_2016-17.pdf" target="_c" style="text-decoration:none;">&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2015-16\KIM_5.3.1_QNM_Sports_Awards_2015-16.pdf" target="_d" style="text-decoration:none;">2015-16</a></button><a href="/SSR_Report/HTML/QNM/2015-16\KIM_5.3.1_QNM_Sports_Awards_2015-16.pdf" target="_d" style="text-decoration:none;">&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2014-15\KIM_5.3.1_QNM_Sports_Awards_2014-15.pdf" target="_e" style="text-decoration:none;">2014-15</a></button><a href="/SSR_Report/HTML/QNM/2014-15\KIM_5.3.1_QNM_Sports_Awards_2014-15.pdf" target="_e" style="text-decoration:none;">&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2013-14\KIM_5.3.1_QNM_Sports_Awards_2013-14.pdf" target="_f" style="text-decoration:none;">2013-14</a></button><a href="/SSR_Report/HTML/QNM/2013-14\KIM_5.3.1_QNM_Sports_Awards_2013-14.pdf" target="_f" style="text-decoration:none;">&nbsp;&nbsp;&nbsp;</a></td>
<!--<td><button class="button"><a href="/SSR_Report/HTML/QNM/2012-2013\KIM_5.3.1_QNM_Sports_Awards_2012-13.pdf"target="_b" style="text-decoration:none;">2012-13</button>&nbsp;&nbsp;&nbsp;</a></td>-->
</tr></tbody></table>
<ul>
<li><b><a href="/SSR_Report/HTML/QNM\Criterion5\KIM_5.3.1_QNM_Cultural_Awards.pdf" target="_g" style="text-decoration:none;">Culturals</a></b></li>
</ul>


 
				
			</div>