<div class="col-md-12">
			<h3 style="color:#580000;">4.2.6 Usage of Library</h3>
			<hr style="border-bottom: 1px solid #580000;">

<ul class="c"><b>
    <li><a href="\SSR_Report\HTML\QNM\Criterion4\KIM_4.2.6_QNM_Consolidated_Library_Usage.pdf" target="_b" style="text-decoration:none;">Consolidated Library Usage</a></li>
    <li><a href="\SSR_Report\HTML\QNM\Criterion4\KIM_4.2.6_QNM_Library_Usage_Detail.xlsx" target="_c" style="text-decoration:none;">Library Usage Detail</a></li>
 <li><a href="\SSR_Report\HTML\QNM\Criterion4\KIM_4.2.6_Library_Usage_Monthwise.pdf" target="_d" style="text-decoration:none;">Library Usage Month wise</a></li>
  <li><a href="\SSR_Report\HTML\QNM\Criterion4\KIM_4.2.6_QNM_Accession_Register.pdf" target="_e" style="text-decoration:none;">Accession Register</a></li></b>
 </ul>
 
				
			</div>