<div class="col-md-12">
			<h3 style="color:#580000;">3.4.1 Code of Ethics</h3>
			<hr style="border-bottom: 1px solid #580000;">
			
			
					







<a href="http://www.sjctni.edu/aboutus/naac/Policies/Malpractices_and_plagiarism_in_Research.pdf" target="_b"><img src="/SSR_Report/HTML\QNM\Policies\Policy.jpg"> </a>


<br>
<ul> 
<li><b><a href="http://www.sjctni.edu/aboutus/naac/Policies/Minutes_of_52nd_GBM.pdf" style="text-decoration:none" target="_c">Approval from Institution </a>
</b></li><b>
<li><b><a href="/SSR_Report/HTML/QNM/Criterion3\KIM_3.4.1_QNM_Plagiarism_Writeup.pdf" style="text-decoration:none" target="_d">Mechanism for deducting Plagiarism Writeup</a>
</b></li><b>
 
				
			</b></b></ul></div>