<div class="col-md-12">
			<h3 style="color:#580000;">5.1.5 Vocational Education and Training</h3>
			<hr style="border-bottom: 1px solid #580000;">

<b>
<ul>
<li><a href="/SSR_Report/HTML/QNM\VET\KIM_5.1.5_QNM_VET_Bvoc.pdf" target="_b" style="text-decoration:none;">Students completed through B. Voc. Programme</a></li>
<li>Courses Offered Through Alumni	</li>
<ul>
<li><a href="/SSR_Report/HTML/QNM\VET\KIM_5.1.5_QNM_VET_Beautician_Course.pdf" target="_c" style="text-decoration:none;">Beautician</a></li>
<li><a href="/SSR_Report/HTML/QNM\VET\KIM_5.1.5_QNM_VET_Aari_Embroidery.pdf" target="_d" style="text-decoration:none;">Aari Embroidery</a></li>
<li><a href="/SSR_Report/HTML/QNM\VET\KIM_5.1.5_QNM_VET_DEEE_course.pdf" target="_e" style="text-decoration:none;">DEEE Course</a></li>
<li><a href="/SSR_Report/HTML/QNM\VET\KIM_5.1.5_QNM_VET_Fashion_Designing.pdf " target="_f" style="text-decoration:none;">Fashion Designing</a></li>
</ul> 
				
			</ul></b></div>