<div class="col-md-12">
			<h3 style="color:#580000;">6.3.4 Professional Enrichment</h3>
			<hr style="border-bottom: 1px solid #580000;">
		
<ul>
<li><b><a href="/SSR_Report/HTML/QNM/Criterion6\KIM_6.3.4_QNM_Prof_Dev_Staff_Details.xlsx" target="_b" style="text-decoration:none;">IQAC Report</a></b></li><b>
<li><a href="/SSR_Report/HTML/QNM/Criterion6\KIM_6.3.4_QNM_IQAC_Report_Summary.pdf" target="_c" style="text-decoration:none;">Summary of Faculty Enrichment</a></li>
<li><a href="http://sjctni.edu/IQAC/indexx.jsp?id=11&amp;bredcom=Home%20|%20IQAC%20|%20AQAR" target="_d" style="text-decoration:none;">AQAR submitted to NAAC</a></li>
</b><li><b>E-copies of Certificates</b></li>
</ul>
<table align="center">
<tbody><tr>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2017-18/KIM_6.3.4_QNM_2017_18_Professional_Enrichment.pdf" target="_e" style="text-decoration:none;">2017-18</a></button><a href="/SSR_Report/HTML/QNM/2017-18/KIM_6.3.4_QNM_2017_18_Professional_Enrichment.pdf" target="_e" style="text-decoration:none;">&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2016-17/KIM_6.3.4_QNM_2016_17_Professional_Enrichment.pdf" target="_f" style="text-decoration:none;">2016-17</a></button><a href="/SSR_Report/HTML/QNM/2016-17/KIM_6.3.4_QNM_2016_17_Professional_Enrichment.pdf" target="_f" style="text-decoration:none;">&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2015-16/KIM_6.3.4_QNM_2015_16_Professional_Enrichment.pdf" target="_g" style="text-decoration:none;">2015-16</a></button><a href="/SSR_Report/HTML/QNM/2015-16/KIM_6.3.4_QNM_2015_16_Professional_Enrichment.pdf" target="_g" style="text-decoration:none;">&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2014-15/KIM_6.3.4_QNM_2014_15_Professional_Enrichment.pdf" target="_h" style="text-decoration:none;">2014-15</a></button><a href="/SSR_Report/HTML/QNM/2014-15/KIM_6.3.4_QNM_2014_15_Professional_Enrichment.pdf" target="_h" style="text-decoration:none;">&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
<td><button class="button"><a href="/SSR_Report/HTML/QNM/2013-14/KIM_6.3.4_QNM_2013_14_Professional_Enrichment.pdf" target="_i" style="text-decoration:none;">2013-14</a></button><a href="/SSR_Report/HTML/QNM/2013-14/KIM_6.3.4_QNM_2013_14_Professional_Enrichment.pdf" target="_i" style="text-decoration:none;">&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
</tr>
</tbody></table>
<ul>
<li><b><a href="/SSR_Report/HTML/QNM/Criterion6\KIM_6.3.4_QNM_Prof_Dev_Staff_Details.xlsx" target="_j" style="text-decoration:none;">Staff details</a></b></li><a href="/SSR_Report/HTML/QNM/Criterion6\KIM_6.3.4_QNM_Prof_Dev_Staff_Details.xlsx" target="_j" style="text-decoration:none;">
</a></ul><a href="/SSR_Report/HTML/QNM/Criterion6\KIM_6.3.4_QNM_Prof_Dev_Staff_Details.xlsx" target="_j" style="text-decoration:none;">
</a></div>