<div class="col-md-12">
			<h3 style="color:#580000;">2.5.2 Student Complaints / Grieveances</h3>
			<hr style="border-bottom: 1px solid #580000;">

<ul><b>
<li><a href="/SSR_Report/HTML\QNM\Criterion2\KIM_2.5.2_QNM_CoE_Grievence_Minutes.pdf" style="text-decoration:none" target="_b">Minutes of the Grievances</a></li><a href="/SSR_Report/HTML\QNM\Criterion2\KIM_2.5.2_QNM_CoE_Grievence_Minutes.pdf" style="text-decoration:none" target="_b">
</a><li><a href="/SSR_Report/HTML\QNM\Criterion2\KIM_2.5.2_QNM_CoE_Grievence_Minutes.pdf" style="text-decoration:none" target="_b"></a><a href="/SSR_Report/HTML\QNM\Criterion2\KIM_2.5.2_QNM_Complaints_about_evaluation.pdf" style="text-decoration:none" target="_c">Complaints Consolidation Report</a></li><a href="/SSR_Report/HTML\QNM\Criterion2\KIM_2.5.2_QNM_Complaints_about_evaluation.pdf" style="text-decoration:none" target="_c">
<ul> 
				
			</ul></a></b></ul></div>