<div class="col-md-12">
			<h3 style="color:#580000;">6.5.4 Quality Assurance Initiatives</h3>
			<hr style="border-bottom: 1px solid #580000;">
<b>
<ul class="a">
<li><a href="/SSR_Report/HTML/QNM\Criterion6\KIM_6.5.4_QNM_Accreditation_Certificates.pdf" target="_b" style="text-decoration:none;">Accreditations certifications</a></li>
<li><a href="/SSR_Report/home.jsp?p=654A#65" style="text-decoration:none">Annual Reports of the Institution</a></li><a href="/SSR_Report/home.jsp?p=654A#65" style="text-decoration:none">
</a><li><a href="/SSR_Report/home.jsp?p=654A#65" style="text-decoration:none"></a><a href="http://sjctni.edu/IQAC/indexx.jsp?id=11&amp;bredcom=Home%20|%20IQAC%20|%20AQAR" target="_c" style="text-decoration:none;">AQARs of IQAC</a></li>
<li><a href="/SSR_Report/HTML/QNM\Criterion6\KIM_6.5.4_QNM_Consolidated_AAA.pdf" target="_d" style="text-decoration:none;">Consolidated report of Academic Administrative Audit(AAA)</a></li>
<li><a href="/SSR_Report/HTML/QNM\Criterion6\KIM_6.5.4_QNM_NIRF_Links.pdf" target="_e" style="text-decoration:none;">NIRF Links</a></li>
<li><a href="/SSR_Report/HTML/QNM\Criterion6\KIM_6.5.4_QNM_Fssai_Certificate.pdf" target="_f" style="text-decoration:none;">FSSAI Certificate</a></li>
<li><a href="/SSR_Report/HTML/QNM\Criterion6\KIM_6.5.4_QNM_India_Today.pdf" target="_g" style="text-decoration:none;">India Today Raking</a></li>
</ul>


 
				
			</b></div>